{% extends 'base.html' %}
{% load static %}

{% block css_top %}

{% endblock %}

{% block js_bottom %}

{% endblock %}

{% block content %}
<div class="fontainer-fluid">
    <!-- Row 1 -->
    <div class="row" style="margin-top: 22px;">
        <div class="col-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "1m",
                "width": "100%",
                "isTransparent": false,
                "height": "480",
                "symbol": "BITSTAMP:BTCUSD",
                "showIntervalTabs": true,
                "locale": "en",
                "colorTheme": "dark"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <div class="col-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "1m",
                "width": "100%",
                "isTransparent": false,
                "height": "480",
                "symbol": "BITSTAMP:BTCUSDT",
                "showIntervalTabs": true,
                "locale": "en",
                "colorTheme": "dark"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <div class="col-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "1m",
                "width": "100%",
                "isTransparent": false,
                "height": "480",
                "symbol": "FX:GBPJPY",
                "showIntervalTabs": true,
                "locale": "en",
                "colorTheme": "dark"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
    </div>
    <!-- Row 2 -->
    <div class="row">
        <div class="col-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "1m",
                "width": "100%",
                "isTransparent": false,
                "height": "480",
                "symbol": "FX:USDCAD",
                "showIntervalTabs": true,
                "locale": "en",
                "colorTheme": "dark"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <div class="col-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "1m",
                "width": "100%",
                "isTransparent": false,
                "height": "480",
                "symbol": "FX:AUDUSD",
                "showIntervalTabs": true,
                "locale": "en",
                "colorTheme": "dark"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <div class="col-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "1m",
                "width": "100%",
                "isTransparent": false,
                "height": "480",
                "symbol": "FX:GBPUSD",
                "showIntervalTabs": true,
                "locale": "en",
                "colorTheme": "dark"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
    </div>
    <!-- Row 2 -->
    <div class="row">
        <div class="col-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "1m",
                "width": "100%",
                "isTransparent": false,
                "height": "480",
                "symbol": "NASDAQ:AAPL",
                "showIntervalTabs": true,
                "locale": "en",
                "colorTheme": "dark"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <div class="col-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "1m",
                "width": "100%",
                "isTransparent": false,
                "height": "480",
                "symbol": "FX:USDCHF",
                "showIntervalTabs": true,
                "locale": "en",
                "colorTheme": "dark"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
        <div class="col-4">
            <!-- TradingView Widget BEGIN -->
            <div class="tradingview-widget-container">
                <div class="tradingview-widget-container__widget"></div>
                <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/NASDAQ-AAPL/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for AAPL</span></a> by TradingView</div>
                <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
                {
                "interval": "1m",
                "width": "100%",
                "isTransparent": false,
                "height": "480",
                "symbol": "FX:GBPAUD",
                "showIntervalTabs": true,
                "locale": "en",
                "colorTheme": "dark"
            }
                </script>
            </div>
            <!-- TradingView Widget END -->
        </div>
    </div>
</div>
{% endblock %}