{% extends 'base.html' %}
{% load static humanize main_extras %}

{% block css_top %}
<link rel="stylesheet" href="{% static 'p2p.css' %}">
{% endblock %}

{% block js_bottom %}
<script src="{% static 'p2p.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="p2p p2p-margin-top"></div>
        <div class="col-3">
            <div class="p2p__left">
                <!-- Buttons -->
                <div class="p2p__2buttons">
                    <button class="p2p2_2buttons-left p2p2_2buttons-left--active">BUY</button>
                    <button class="p2p2_2buttons-right">SELL</button>
                </div>
                <!-- Amount 1 select -->
                <div class="p2p__select" id="select_1">
                    <div class="p2p__input-container">
                        <input class="p2p__input" type="number" placeholder="Amount">
                    </div>
                    <button class="p2p__select-btn">BTC</button>
                    <div class="p2p__select-items ultrascroll">
                        <ul class="p2p__select-list">
                            {% for token in token_list %}
                            <li class="p2p__select-item"><img class="p2p__select-item-icon" src="{{ token.icon.url }}"><span class="p2p__select-item-tag">{{ token.tag }}</span> ({{ token.name }})</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Amount 2 select -->
                <div class="p2p__select" id="select_2">
                    <div class="p2p__input-container">
                        <input class="p2p__input" type="number" placeholder="Amount">
                    </div>
                    <button class="p2p__select-btn">USD</button>
                    <div class="p2p__select-items ultrascroll">
                        <ul class="p2p__select-list">
                            {% for fiat in fiat_list %}
                            <li class="p2p__select-item"><span class="p2p__select-item-tag">{{ fiat.tag }}</span> ({{ fiat.name }})</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Payment methods -->
                <div class="p2p__select p2p__select--pointer" id="payment_methods">
                    <p class="p2p__select-text">All payments methods</p>
                    <div class="p2p__select-arrow">
                    </div>
                    <div class="p2p__select-items ultrascroll">
                        <ul class="p2p__select-list">
                            <li class="p2p__select-item">All payments methods</li>
                            {% for pm in payment_methods %}
                            <li class="p2p__select-item">{{ pm.1 }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Verified users -->
                <div class="p2p__controls">
                    <div class="p2p__controls-left">
                        <p class="p2p__controls-left-caption">Verified users</p>
                        <p class="p2p__controls-left-description">Show ads of verified traders only</p>
                    </div>
                    <div class="p2p__controls-right">
                        <div class="p2p__switch">
                            <input type="checkbox" name="verified" id="verified">
                        </div>
                    </div>
                </div>
                <!-- Active users -->
                <div class="p2p__controls">
                    <div class="p2p__controls-left">
                        <p class="p2p__controls-left-caption">Active users</p>
                        <p class="p2p__controls-left-description">Show ads of traders who are online only</p>
                    </div>
                    <div class="p2p__controls-right">
                        <div class="p2p__switch">
                            <input type="checkbox" name="active" id="active">
                        </div>
                    </div>
                </div>
                <button class="p2p__search">Search</button>
            </div>
        </div>
        <div class="col-9">
            <div class="p2p__main">
                <table class="p2p__table">
                    <thead class="p2p__thead">
                        <tr class="p2p__tr">
                            <th class="p2p__th">Trader</th>
                            <th class="p2p__th">Payment method</th>
                            <th class="p2p__th">Price</th>
                            <th class="p2p__th">Limits</th>
                        </tr>
                    </thead>
                    <tbody class="p2p__tbody" id="p2p-table">
                        {% for p2p in p2p_list %}
                        <tr class="p2p__tr">
                            <td class="p2p__td">
                                <div class="p2p__td-container">
                                    <div class="p2p__td-container-left">
                                        <img class="p2p__td-img" src="{{ p2p.photo.url }}">
                                    </div>
                                    <div class="p2p__td-container-right">
                                        <p class="p2p__td-caption">{{ p2p.username }}</p>
                                        <p class="p2p__td-description">{{ p2p.orders }} orders, {{ p2p.orders_percent }}%</p>
                                        {% if p2p.status == "ON" %}
                                        <p class="p2p__td-status">Online</p>
                                        {% else %}
                                        <p class="p2p__td-status p2p__td-status--offline">Offline</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                            <td class="p2p__td">{{ p2p.get_method_display }}</td>
                            <td class="p2p__td p2p__td--price">{{ p2p.price }} {{ p2p.fiat.tag }}</td>
                            <td class="p2p__td p2p__td--flex">
                                <p class="p2p__td-limit">{{ p2p.limit_start|floatformat:"-3"|intcomma|comma_to_whitespace }} - {{ p2p.limit_end|floatformat:"-3"|intcomma|comma_to_whitespace }} {{ p2p.fiat.tag }}</p>
                                <button class="p2p__sell-btn">Sell BTC</button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="p2p__tr p2p__tr--last">
                            <td class="p2p__td" colspan="4">
                                <button class="p2p__more">load 15 more traders</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}