{% extends 'base.html' %}
{% load static %}

{% block js_bottom %}
<script src="{% static 'lightweight-charts.standalone.production.js' %}"></script>
<script src="{% static 'trading.js' %}"></script>
{% endblock %}

{% block content %}
<section class="trading">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="trading__orders">
                    <table class="trading__table">
                        <thead class="trading__table-head">
                            
                        </thead>
                    </table>
                </div>
            </div>
            <div class="col-8">
                <div id="chart" class="trading__chart"></div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</section>

{% endblock %}