{% extends 'base.html' %}
{% load static %}

{% block css_top %}
<link rel="stylesheet" href="{% static 'trading.css' %}">
{% endblock %}

{% block header_class %}
header--trading
{% endblock %}

{% block body_class %}
body--trading
{% endblock %}

{% block js_bottom %}
<script>
    const g_symbol_source = "{{symbol_source}}";
    const g_symbol_dest = "{{symbol_dest}}";
    const g_pair = "{{symbol_source}}{{symbol_dest}}";
</script>
<script src="{% static 'lightweight-charts.standalone.production.js' %}"></script>
<script src="{% static 'trading.js' %}"></script>
{% endblock %}

{% block content %}
<section class="trading">
    <div class="trading-container">
        <!-- Header -->
        <div class="trading-row">
            <div class="trading-col-100">
                <div class="trading__header">
                    <p class="trading__header-pair">{{symbol_source}}/{{symbol_dest}}</p>
                    <div class="trading__header-last-price">
                        <p class="trading__header-last-price-title">Last price</p>
                        <p class="trading__header-last-price-data">
                            <span
                                class="trading__header-last-price-data-avg trading__header-last-price-data-avg--green">
                                0000.00
                            </span>
                            <span class="trading__header-last-price-data-eq" id="top_eq">
                                0000.00
                            </span>
                        </p>
                    </div>
                    <div class="trading__header-24h-change">
                        <p class="trading__header-24h-change-title">24h Change</p>
                        <p class="trading__header-24h-change-percent">+0.00%</p>
                    </div>
                    <div class="trading__header-24h-high">
                        <p class="trading__header-24h-high-title">24h High</p>
                        <p class="trading__header-24h-high-value">0000.00</p>
                    </div>
                    <div class="trading__header-24h-low">
                        <p class="trading__header-24h-low-title">24h Low</p>
                        <p class="trading__header-24h-low-value">0000.00</p>
                    </div>
                    <div class="trading__header-24h-volume">
                        <p class="trading__header-24h-volume-title">24h Volume</p>
                        <p class="trading__header-24h-volume-value">0000.00 {{ symbol_dest }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="trading-row">
            <!-- Orders -->
            <div class="trading-col-sm">
                <div class="trading__orders">
                    <div class="trading__orders-head">
                        <p class="trading__orders-title">Order book</p>
                    </div>
                    <div class="trading__orders-body">
                        <table id="table_red" class="trading__table">
                            <thead class="trading__table-head">
                                <tr class="trading__table-tr">
                                    <th class="trading__table-th">Price {{ symbol_dest }}</th>
                                    <th class="trading__table-th">Amount {{ symbol_source }}</th>
                                    <th class="trading__table-th">Total {{ sumbol_dest }}</th>
                                </tr>
                            </thead>
                            <tbody id="red_orders" class="trading__table-body">
                                <tr class="trading__table-tr">
                                    <td class="trading__table-td">0000.00</td>
                                    <td class="trading__table-td">0000.00</td>
                                    <td class="trading__table-td">0000.00</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="trading__currents">
                            <div class="trading__currents-price">
                                <p class="trading__currents-major-text trading__currents-major-text--red">18771.61</p>
                                <p class="trading__currents-garbage-text" id="left_eq">0000.00 USD</p>
                            </div>
                            <div class="trading__currents-vol">
                                <p class="trading__currents-minor-text trading__currents-minor-text--border-bottom">
                                    <span class="trading__currents-garbage-text">Vol:</span>
                                    <span class=".trading__currents-minor-value" id="vol_crypto_0">0000.00</span>
                                </p>
                                <p class="trading__currents-minor-text">
                                    <span class="trading__currents-garbage-text">Vol:</span>
                                    <span class=".trading__currents-minor-value" id="vol_crypto_1">0000.00</span>
                                </p>
                            </div>
                        </div>
                        <table id="table_green" class="trading__table">
                            <!-- <thead class="trading__table-head">
                                <tr class="trading__table-tr">
                                    <th class="trading__table-th">Price {{ symbol_dest }}</th>
                                    <th class="trading__table-th">Amount {{ 'BTC' }}</th>
                                    <th class="trading__table-th">Total {{ symbol_dest }}</th>
                                </tr>
                            </thead> -->
                            <tbody id="green_orders" class="trading__table-body">
                                <tr class="trading__table-tr">
                                    <td class="trading__table-td">18,551.27</td>
                                    <td class="trading__table-td">0.193162</td>
                                    <td class="trading__table-td">204,551.27</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Chart -->
            <div class="trading-col-xl">
                <div id="chart" class="trading__chart"></div>
                <div class="orders orders__full-height">
                    <div class="orders__tabs" id="trading_tabs">
                        <div class="orders__tabs-buttons">
                            <div class="orders__tab-button" data-target="tab_limit">Limit</div>
                            <div class="orders__tab-button orders__tab-button--active" data-target="tab_market">Market
                            </div>
                            <div class="orders__tab-button" data-target="tab_stop">Stop</div>
                        </div>
                        <div class="orders__tab" id="tab_limit">
                            <div class="orders__buy-sell">
                                <!-- Buy -->
                                <div class="orders__buy">
                                    <div class="orders__primary-text">Buy {{ symbol_source }}</div>
                                    <div class="orders__balance">
                                        <img class="orders__wallet">
                                        <p class="orders__balance-value">
                                            0.00 - {{ symbol_dest }}
                                        </p>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Amount
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_source }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Total
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Stop
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <input type="checkbox" name="post" id="post">
                                        <input type="checkbox" name="fok" id="fok">
                                        <input type="checkbox" name="ioc" id="ioc">
                                    </div>
                                    <button class="orders__buy-btn">Buy</button>
                                </div>
                                <!-- Sell -->
                                <div class="orders__buy">
                                    <div class="orders__primary-text">Sell {{ symbol_source }}</div>
                                    <div class="orders__balance">
                                        <img class="orders__wallet">
                                        <p class="orders__balance-value">
                                            0.00000000 - {{ symbol_source }}
                                        </p>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Amount
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_source }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Total
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Stop
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <input type="checkbox" name="post" id="post">
                                        <input type="checkbox" name="fok" id="fok">
                                        <input type="checkbox" name="ioc" id="ioc">
                                    </div>
                                    <button class="orders__sell-btn">Sell</button>
                                </div>
                            </div>
                        </div>
                        <div class="orders__tab orders__tab--active" id="tab_market">
                            <div class="orders__buy-sell">
                                <!-- Buy -->
                                <div class="orders__buy">
                                    <div class="orders__primary-text">Buy {{ symbol_source }}</div>
                                    <div class="orders__balance">
                                        <img class="orders__wallet">
                                        <p class="orders__balance-value">
                                            0.00 - {{ symbol_dest }}
                                        </p>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            <span class="orders__label-lnk">
                                                Amount
                                            </span>
                                            / For the amount of
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_source }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Total
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <button class="orders__percents">25%</button>
                                        <button class="orders__percents">50%</button>
                                        <button class="orders__percents">75%</button>
                                        <button class="orders__percents">100%</button>
                                    </div>
                                    <button class="orders__buy-btn">Buy</button>
                                </div>
                                <!-- Sell -->
                                <div class="orders__buy">
                                    <div class="orders__primary-text">Sell {{ symbol_source }}</div>
                                    <div class="orders__balance">
                                        <img class="orders__wallet">
                                        <p class="orders__balance-value">
                                            0.00000000 - {{ symbol_source }}
                                        </p>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            <span class="orders__label-lnk">
                                                Amount
                                            </span>
                                            / For the amount of
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_source }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Total
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <button class="orders__percents">25%</button>
                                        <button class="orders__percents">50%</button>
                                        <button class="orders__percents">75%</button>
                                        <button class="orders__percents">100%</button>
                                    </div>
                                    <button class="orders__sell-btn">Sell</button>
                                </div>
                            </div>
                        </div>
                        <div class="orders__tab" id="tab_stop">
                            <div class="orders__buy-sell">
                                <!-- Buy -->
                                <div class="orders__buy">
                                    <div class="orders__primary-text">Buy {{ symbol_source }}</div>
                                    <div class="orders__balance">
                                        <img class="orders__wallet">
                                        <p class="orders__balance-value">
                                            0.00 - {{ symbol_dest }}
                                        </p>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Amount
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <div class="numeric__prefix">≈</div>
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_source }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Total
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Stop
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="orders__buy-btn">Buy</button>
                                </div>
                                <!-- Sell -->
                                <div class="orders__buy">
                                    <div class="orders__primary-text">Sell {{ symbol_source }}</div>
                                    <div class="orders__balance">
                                        <img class="orders__wallet">
                                        <p class="orders__balance-value">
                                            0.00000000 - {{ symbol_source }}
                                        </p>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Amount
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_source }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Total
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="orders__controls">
                                        <label class="orders__label">
                                            Stop
                                        </label>
                                        <div class="numeric">
                                            <div class="numeric__hcontainer">
                                                <div class="numeric__prefix">≈</div>
                                                <input class="numeric__input" placeholder="0" type="number">
                                                <div class="numeric__tag">{{ symbol_dest }}</div>
                                            </div>
                                            <div class="numeric__vcontainer">
                                                <div class="numeric__up"></div>
                                                <div class="numeric__down"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="orders__sell-btn">Sell</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="orders__tabs" id="history_tabs">
                        <div class="orders__tabs-buttons">
                            <div class="orders__tab-button orders__tab-button--active" data-target="open">My Open Orders
                            </div>
                            <div class="orders__tab-button" data-target="history">My Trading History</div>
                        </div>
                        <div class="orders__tab orders__tab--active" id="open">
                            <p class="orders__tab-no-data">
                                No Open Orders
                            </p>
                        </div>
                        <div class="orders__tab" id="history">
                            <p class="orders__tab-no-data">
                                No Historical Data
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right -->
            <div class="trading-col-sm">
                <!-- Pairs -->
                <div class="trading__pairs">
                    <div class="trading__pairs-head">
                        <input class="trading__pairs-input" type="text" name="pairs_search" id="pairs_search"
                            placeholder="Search">
                        <p class="trading__pairs-currency">
                            Currency pairs
                            <span class="trading__pairs-total">{{tokens|length}}</span>
                        </p>
                    </div>
                    <table class="trading__pairs-table">
                        <thead class="trading__pairs-thead">
                            <tr class="trading__pairs-tr">
                                <th class="trading__pairs-th">Pair</th>
                                <th class="trading__pairs-th">Price</th>
                                <th class="trading__pairs-th">Volume/Change</th>
                            </tr>
                        </thead>
                        <tbody class="trading__pairs-tbody ultrascroll">
                            {% with 'USDT USDC' as exclude_list %}
                            {% for token in tokens %}
                            {% if not token.tag in exclude_list.split %}
                            <tr class="trading__pairs-tr" data-symbol="{{token.tag}}USDT">
                                <td class="trading__pairs-td">
                                    <a class="trading__pairs-link"
                                        href="{% url 'main:trading' symbol_source=token.tag|lower symbol_dest='usdt' %}">
                                        <img class="trading__pairs-icon" src="{{token.icon.url}}">
                                        {{token.tag}}/<span class="trading__pairs-inactive-text">USDT</span>
                                    </a>
                                </td>
                                <td class="trading__pairs-td">17773.43</td>
                                <td class="trading__pairs-td">2.031%</td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endwith %}
                        </tbody>
                    </table>
                </div>
                <!-- Trading chat -->
                <div class="trading__chat trading__chat-full-height">
                    <div class="trading__chat-head">
                        <div class="trading__chat-title">Chat</div>
                    </div>
                    <div class="trading__chat-body ultrascroll">

                    </div>
                    <div class="trading__chat-controls">
                        <form class="trading__chat-form" action="{% url 'main:chat_message' %}" method="post">
                            {% csrf_token %}
                            <div class="trading__chat-container">
                                {{ form.message }}
                            </div>
                            <button class="trading__chat-button">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}