{% extends 'base.html' %}
{% load static %}

{% block js_bottom %}
<script>
    const g_symbol_source = "{{symbol_source}}";
    const g_symbol_dest = "{{symbol_dest}}";
    const g_pair = "{{symbol_source}}{{symbol_dest}}";
</script>
<script src="{% static 'lightweight-charts.standalone.production.js' %}"></script>
<script src="{% static 'trading.js' %}"></script>
{% endblock %}

{% block content %}
<section class="trading trading__margin-top">
    <div class="trading-container">
        <!-- Header -->
        <div class="trading-row">
            <div class="trading-col-100">
                <div class="trading__header">
                    <p class="trading__header-pair">{{symbol_source}}/{{symbol_dest}}</p>
                    <div class="trading__header-last-price">
                        <p class="trading__header-last-price-title">Last price</p>
                        <p class="trading__header-last-price-data">
                            <span
                                class="trading__header-last-price-data-avg trading__header-last-price-data-avg--green">
                                0000.00
                            </span>
                            <span class="trading__header-last-price-data-eq" id="top_eq">
                                0000.00
                            </span>
                        </p>
                    </div>
                    <div class="trading__header-24h-change">
                        <p class="trading__header-24h-change-title">24h Change</p>
                        <p class="trading__header-24h-change-percent">+0.00%</p>
                    </div>
                    <div class="trading__header-24h-high">
                        <p class="trading__header-24h-high-title">24h High</p>
                        <p class="trading__header-24h-high-value">0000.00</p>
                    </div>
                    <div class="trading__header-24h-low">
                        <p class="trading__header-24h-low-title">24h Low</p>
                        <p class="trading__header-24h-low-value">0000.00</p>
                    </div>
                    <div class="trading__header-24h-volume">
                        <p class="trading__header-24h-volume-title">24h Volume</p>
                        <p class="trading__header-24h-volume-value">0000.00 USDT
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="trading-row">
            <!-- Orders -->
            <div class="trading-col-sm">
                <div class="trading__orders">
                    <div class="trading__orders-head">
                        <p class="trading__orders-title">Order book</p>
                    </div>
                    <div class="trading__orders-body">
                        <table id="table_red" class="trading__table">
                            <thead class="trading__table-head">
                                <tr class="trading__table-tr">
                                    <th class="trading__table-th">Price {{ symbol_dest }}</th>
                                    <th class="trading__table-th">Amount {{ symbol_source }}</th>
                                    <th class="trading__table-th">Total {{ sumbol_dest }}</th>
                                </tr>
                            </thead>
                            <tbody id="red_orders" class="trading__table-body">
                                <tr class="trading__table-tr">
                                    <td class="trading__table-td">0000.00</td>
                                    <td class="trading__table-td">0000.00</td>
                                    <td class="trading__table-td">0000.00</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="trading__currents">
                            <div class="trading__currents-price">
                                <p class="trading__currents-major-text trading__currents-major-text--red">18771.61</p>
                                <p class="trading__currents-garbage-text" id="left_eq">0000.00 USD</p>
                            </div>
                            <div class="trading__currents-vol">
                                <p class="trading__currents-minor-text trading__currents-minor-text--border-bottom">
                                    <span class="trading__currents-garbage-text">Vol:</span>
                                    <span class=".trading__currents-minor-value" id="vol_crypto_0">0000.00</span>
                                </p>
                                <p class="trading__currents-minor-text">
                                    <span class="trading__currents-garbage-text">Vol:</span>
                                    <span class=".trading__currents-minor-value" id="vol_crypto_1">0000.00</span>
                                </p>
                            </div>
                        </div>
                        <table id="table_green" class="trading__table">
                            <!-- <thead class="trading__table-head">
                                <tr class="trading__table-tr">
                                    <th class="trading__table-th">Price {{ 'USDT' }}</th>
                                    <th class="trading__table-th">Amount {{ 'BTC' }}</th>
                                    <th class="trading__table-th">Total {{ 'USDT' }}</th>
                                </tr>
                            </thead> -->
                            <tbody id="green_orders" class="trading__table-body">
                                <tr class="trading__table-tr">
                                    <td class="trading__table-td">18,551.27</td>
                                    <td class="trading__table-td">0.193162</td>
                                    <td class="trading__table-td">204,551.27</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Chart -->
            <div class="trading-col-xl">
                <div id="chart" class="trading__chart"></div>
            </div>
            <!-- Right -->
            <div class="trading-col-sm">
                <!-- Pairs -->
                <div class="trading__pairs">
                    <div class="trading__pairs-head">
                        <input class="trading__pairs-input" type="text" name="pairs_search" id="pairs_search"
                            placeholder="Search">
                        <p class="trading__pairs-currency">
                            Currency pairs
                            <span class="trading__pairs-total">{{tokens|length}}</span>
                        </p>
                    </div>
                    <table class="trading__pairs-table">
                        <thead class="trading__pairs-thead">
                            <tr class="trading__pairs-tr">
                                <th class="trading__pairs-th">Pair</th>
                                <th class="trading__pairs-th">Price</th>
                                <th class="trading__pairs-th">Volume/Change</th>
                            </tr>
                        </thead>
                        <tbody class="trading__pairs-tbody">
                            {% for token in tokens %}
                            <tr class="trading__pairs-tr">
                                <td class="trading__pairs-td">
                                    <a class="trading__pairs_link"
                                        href="{% url 'main:trading' symbol_source=token.tag|lower symbol_dest='usdt' %}">
                                        <img class="trading__pairs-icon" src="{{token.icon.url}}">
                                        {{token.tag}}/USDT
                                    </a>
                                </td>
                                <td class="trading__pairs-td">17773.43</td>
                                <td class="trading__pairs-td">2.031%</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- Trading history -->
                <div class="trading__history">
                    <div class="trading__history-head">
                        <div class="trading__history-title">Trade history</div>
                    </div>
                    <table class="trading__history-table">
                        <thead class="trading__history-thead">
                            <tr class="trading__history-tr">
                                <th class="trading__history-th">Price {{symbol_dest}}</th>
                                <th class="trading__history-th">Amount {{symbol_source}}</th>
                                <th class="trading__history-th">Data/Time</th>
                            </tr>
                        </thead>
                        <tbody class="trading__history-tbody">
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                            <tr class="trading__history-tr">
                                <td class="trading__history-td">17342.45</td>
                                <td class="trading__history-td">0.43</td>
                                <td class="trading__history-td">6.12 13:10</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}