{% extends 'base.html' %}
{% load static %}

{% block css_top %}
<link rel="stylesheet" href="{% static 'support.css' %}">
{% endblock %}

{% block js_top %}
<script>
    function get_user_photo_url() { 
        return "{{ user.photo.url }}";
    }
    function get_static_url(url) {
        return "{% static '' %}" + url;
    }
</script>
{% endblock %}

{% block js_bottom %}
<script src="{% static 'support.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="support support__margin-top">
                <!-- Header -->
                <div class="support__header">
                    <img class="support__photo" src="{% static 'images/user.svg' %}">
                    <p class="support__title">Live Support Service</p>
                </div>
                <!-- Body -->
                <div class="support__body">
                    <div class="support__top">
                        <p class="support__title">Chat</p>
                    </div>
                    <div class="support__middle ultrascroll">
                        <!-- Preview (can be hidden) -->
                        <div class="support__preview">
                            <img class="support__img" src="{% static 'images/support-middle.png' %}">
                            <p class="support__info">Please type a messege</p>
                        </div>
                        <!-- Messaging -->
                        <!-- <div class="support__row">
                            <div class="support__col-12">
                                <div class="support__date">
                                    <p class="support__date-text">Today</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <!-- Footer -->



            <!-- START FORM -->
            <form action="{% url 'support:send' %}" method="post">
                {% csrf_token %}
                <div class="support__footer">
                    <div class="support__controls">
                        {{ form.message }}
                        <button class="support__button-embed"></button>
                    </div>
                    <div class="support__sublit-container">
                        <button class="support__button-submit">Submit</button>
                    </div>
                </div>
            </form>
            <!-- END FORM -->



        </div>
    </div>
</div>
</div>
{% endblock %}