{% extends 'base.html' %}
{% load static %}

{% block css_top %}
<link rel="stylesheet" href="{% static 'notices.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="window window__margin">
                <div class="window__header">
                    <p>AML & KYC policy</p>
                </div>
                <div class="window__body window__body-margin">
                    <p class="window__p">The purposes of the Tera’s Anti-Money Laundering, Counter-Terrorist Financing
                        and Know Your
                        Customer Policy (hereinafter — the “<b>AML/KYC Policy</b>“) is to identify, prevent and mitigate
                        possible
                        risks of Tera being involved in illegal activity.</p>

                    <p class="window__p">To confirm with international and local regulations, Tera has implemented
                        effective internal
                        procedures to prevent money laundering, terrorist financing, drug and human trafficking,
                        proliferation of weapons of mass destruction, corruption and bribery and to react
                        correspondingly in
                        case of any form of suspicious activity from its Users.</p>

                    <p class="window__p"><b>Money Laundering</b> can be defined as: ‘the conversion or transfer of
                        property, knowing that such
                        property is derived from criminal activity, or from an act of participation in such activity,
                        for
                        the purposes of concealing or disguising the illicit origin of the property, or assisting any
                        person
                        who is involved in the commission of such activity to evade the legal consequences of his
                        action.’</p>

                    <p class="window__p"><b>Terrorist Financing</b> can be defined as: ‘the wilful provision or
                        collection, by any means, directly
                        or indirectly, of funds with the intention that the funds should be used, or in the knowledge
                        that
                        they are to be used, in order to carry out terrorist acts.’</p>

                    <p class="window__p">All firms must adhere to the Money Laundering, Terrorist Financing and Transfer
                        of Funds
                        (Information on the Payer) Regulations 2017 (MLRs), and be aware of the guidance set down by the
                        Joint Money Laundering Steering Group (JMLSG) which provides guidelines within the United
                        Kingdom on
                        how firms should conduct Due Diligence on their customers, and the recommendations from the
                        Financial Action Task Force (FATF), an inter-governmental body whose purpose is the development
                        and
                        promotion of national and international policies to combat money laundering and terrorist
                        financing.</p>

                    <p class="window__p"><b>Other legislation in relation to AML/KYC are:</b></p>

                    <p class="window__p">
                    <ul>
                        <li>5th Anti-Money Laundering Directive ((EU) 2018/843)</li>
                        <li>The Proceeds of Crime Act 2002;</li>
                        <li>Terrorism Act 2000 and 2001;</li>
                        <li>Counter-Terrorism Act 2008;</li>
                        <li>HM Treasury Sanction Notices;</li>
                        <li>FCA Handbook.</li>
                        <li>AML/KYC Policy includes:</li>
                    </ul>
                    </p>

                    <ul class="window__ul">
                        <li>Verification procedure;</li>
                        <li>Role of the Chief Compliance Officer;</li>
                        <li>Transactions Monitoring;</li>
                        <li>Risk Assessment:</li>
                        <li>Country of Residence.</li>
                    </ul>

                    <p class="window__p"><b>Verification procedures</b></p>

                    <p class="window__p">To help fight the funding of terrorism and money laundering activities, the Law
                        requires all
                        financial institutions to obtain, verify and record information that identifies each person or
                        entity who opens an Account. We are required by Law to ask you to provide your name, address,
                        date
                        of birth and other information about you, your organisation or persons related to your
                        organisation
                        that will allow us to identify you before we approve your Account. We also may ask you to
                        provide
                        certain identifying documents, such as your driver’s license or passport or your organisation’s
                        articles of incorporation and may obtain credit and other consumer reports to assist us in
                        verifying
                        your identity and in determining whether you satisfy our account criteria. Unless you provide
                        the
                        requested information and documentation, we may not be able to open your Account.</p>

                    <p class="window__p">By applying for an Tera Account, you agree to provide the information and
                        documentation
                        requested by Tera and consent to Tera’s acquisition of credit and other consumer reports
                        about you for the purposes described above.</p>

                    <p class="window__p">The Tera’s Customer due diligence (“CDD“) procedure requires the Users to
                        provide Tera with
                        reliable, independent source documents to identify them and confirm their residential address.
                        Such
                        documents may include, for example, a national ID card, an international passport, a bank
                        statement,
                        a utility bill. For such purposes, Tera reserves the right to collect the Users’ identification
                        information for the purposes of compliance with its AML/CFT and KYC Policy.</p>

                    <p class="window__p">Tera will take steps to confirm the authenticity of documents and information
                        provided by Users.
                        Tera will also look to verify identification information through secondary sources, and Tera
                        reserves the right to investigate further the cases of Users where Tera is not satisfied with
                        the documentation submitted.</p>

                    <p class="window__p">Tera reserves the right to verify the identity of the User on an ongoing basis,
                        especially when
                        its identification information has been changed or its activities appear suspicious (unusual for
                        a
                        particular User). In addition, Tera reserves the right to request from the Users current
                        documents, even if they have been authenticated in the past.</p>

                    <p class="window__p">Information about the user's identification will be collected, stored, shared
                        and protected strictly
                        in accordance with the Tera's Privacy Policy and relevant rules. The User agrees that if any
                        information provided in the Account application changes, ceases to be true or becomes materially
                        misleading (including, but not limited to, the ownership of the Account) then the User will
                        notify
                        Tera of the changes.</p>

                    <p class="window__p">After confirming the identity of the user, Tera may refuse to provide Services
                        to the User if
                        Tera's Services are suspected to be used for the purposes of conducting illegal activities.</p>

                    <p class="window__p">Tera has a regulatory requirement to verify the sources of Fiat Money and/or
                        Cryptocurrency to
                        know that the sources of the Funds that Users use to trade with are legitimate. Tera will
                        require evidence of the source of Funds; this may include bank statements for Fiat Money or a
                        video
                        showing wallet transaction details for Cryptocurrency.</p>

                    <p class="window__p">Users who intend to use payment cards for the purpose of consuming Services
                        must undergo a card
                        check in accordance with the instructions available on the Tera's Site.</p>

                    <p class="window__p">Tera uses independent third-party companies for the following:</p>

                    <p class="window__p">check Users against Politically Exposed Person's (PEP) and Sanctions Lists as
                        well as checks for
                        Adverse Media.
                        assess User's cryptocurrency wallets with regards to AML investigation and compliance.
                        Tera reserves the right to terminate or refuse Accounts on the basis of information attained by
                        the third-party companies this includes Users connected to “high-risk” wallets.</p>

                    <p class="window__p"><b>Chief Compliance Officer</b></p>

                    <p class="window__p">The Chief Compliance Officer is the person, duly authorised by Tera, whose duty
                        is to ensure the
                        effective implementation and enforcement of the AML/CFT and KYC Policy. It is the Chief
                        Compliance
                        Officer’s responsibility to supervise all aspects of Tera’s anti-money laundering and
                        counter-terrorist financing procedures, in particular:</p>

                    <p class="window__p">collection of Users’ identification information;
                        establishing and updating internal policies and procedures for the completion, review,
                        submission
                        and retention of all reports and records required under the applicable laws and regulations;
                        monitoring transactions and investigating any significant deviations from normal activity;
                        implementing a records management system for appropriate storage and retrieval of documents,
                        files,
                        forms and logs, updating risk assessment regularly, providing law enforcement with information
                        as
                        required under the applicable laws and regulations.
                        The Chief Compliance Officer is the contact point for Tera with law enforcement agencies for the
                        purposes of prevention of money laundering, terrorist financing and other illegal activities.
                    </p>

                    <p class="window__p"><b>Transaction Monitoring</b></p>

                    <p class="window__p">Tera Users must complete the Tera’s identity verification process (who you are)
                        before
                        trading. After verification is completed the User consents to transaction Monitoring, Tera
                        analyses User’s transactional patterns (what they do).</p>

                    <p class="window__p">Tera relies on data analysis as a risk-assessment and suspicious activity
                        detection tools. These
                        tools perform a variety of compliance-related tasks, including capturing data, filtering,
                        record-keeping, investigation management and reporting.</p>

                    <p class="window__p">In connection with the AML/KYC Policy, Tera will:</p>

                    <p class="window__p">monitor all transactions. Tera reserves the right to ensure that transactions
                        of suspicious
                        nature are reported to the proper law enforcement;
                        request the User to provide any additional information and documents in case of suspicious
                        transactions;
                        suspend or terminate User’s Account when Tera has a reasonable suspicion that such User is
                        engaged in illegal activity.
                        However, the above list is not exhaustive and the Chief Compliance Officer will monitor Users’
                        transactions on a regular basis in order to define whether such transactions are to be reported
                        and
                        treated as suspicious.</p>

                    <p class="window__p"><b>Risk Assessment</b></p>

                    <p class="window__p">In order to meet its obligations regarding Anti-Money Laundering (AML) and
                        Counter Terrorist
                        Financing (CTF) Tera completes an annual AML Risk Assessment. The aim of the AML Risk Assessment
                        is to prevent criminals using Tera to launder money by highlighting risks and assessing controls
                        Tera has put in place. A risk-based approach is taken to identify Users and monitor how they use
                        our Services.</p>

                    <p class="window__p">The Chief Compliance Officer is responsible for managing financial crime risks
                        and making
                        improvements in financial crime risk management through identifying the general and specific
                        money
                        laundering risks that Tera is facing, determining how these risks are mitigated by the
                        Tera’s AML controls and establishing the residual risk that remains for Tera.</p>

                    <p class="window__p"><b>Country of Residence</b></p>

                    <p class="window__p">Tera’s AML and KYC Policy sets out Tera’s risk appetite with regard to AML/KYC.
                        To reduce
                        this risk Tera does not accept clients who are resident in countries deemed to be above the
                        Tera’s risk appetite.</p>

                    <p class="window__p">The sources used with regards to the categorisation were:</p>

                    <ul class="window__ul">
                        <li>Transparency International;</li>
                        <li>Know Your Country;</li>
                        <li>FATF High Risk Jurisdictions;</li>
                        <li>EU High Risk Jurisdictions;</li>
                        <li>Countries where Digital Assets are prohibited or there are restrictions on trading;</li>
                        <li>Countries where Digital Assets are not prohibited;</li>
                        <li>Countries subject to UNSC Sanctions Regime.</li>
                        <li>It must me clear that Tera’s policy is that all clients resident in the below countries are
                        </li>
                        <li>banned and cannot be accepted as a client. Any clients that try to open an account will be
                            denied</li>
                        <li>and any funds returned to source.</li>
                    </ul>

                    <p class="window__p"><b>Full list of Banned Jurisdictions</b></p>

                    <p class="window__p">Afghanistan</p>
                    <p class="window__p">Albania</p>
                    <p class="window__p">Angola</p>
                    <p class="window__p">Algeria</p>
                    <p class="window__p">Bangladesh</p>
                    <p class="window__p">Barbados</p>
                    <p class="window__p">Bolivia</p>
                    <p class="window__p">Botswana</p>
                    <p class="window__p">Burma (Myanmar)</p>
                    <p class="window__p">Burundi</p>
                    <p class="window__p">Cambodia</p>
                    <p class="window__p">Central African Republic</p>
                    <p class="window__p">Chad</p>
                    <p class="window__p">Congo</p>
                    <p class="window__p">Guinea - Conakry</p>
                    <p class="window__p">Cote D'ivoire</p>
                    <p class="window__p">Crimea (Ukraine region)</p>
                    <p class="window__p">Cuba</p>
                    <p class="window__p">Democratic People's Republic of Korea (DPRK)</p>
                    <p class="window__p">Ecuador</p>
                    <p class="window__p">Egypt</p>
                    <p class="window__p">Equatorial Guinea</p>
                    <p class="window__p">Eritrea</p>
                    <p class="window__p">Ghana</p>
                    <p class="window__p">Guinea Bissau</p>
                    <p class="window__p">Guyana</p>
                    <p class="window__p">Haiti</p>
                    <p class="window__p">Iran</p>
                    <p class="window__p">Iraq</p>
                    <p class="window__p">Jamaica</p>
                    <p class="window__p">Lao PDR</p>
                    <p class="window__p">Lebanon</p>
                    <p class="window__p">Libya</p>
                    <p class="window__p">Mali</p>
                    <p class="window__p">Morocco</p>
                    <p class="window__p">Myanmar</p>
                    <p class="window__p">Nepal</p>
                    <p class="window__p">Nicaragua</p>
                    <p class="window__p">North Macedonia</p>
                    <p class="window__p">Pakistan</p>
                    <p class="window__p">Panama</p>
                    <p class="window__p">Qatar</p>
                    <p class="window__p">Saudi Arabia</p>
                    <p class="window__p">Somalia</p>
                    <p class="window__p">South Sudan</p>
                    <p class="window__p">Sudan</p>
                    <p class="window__p">Syria</p>
                    <p class="window__p">Tunisia</p>
                    <p class="window__p">Uganda</p>
                    <p class="window__p">Vanuatu</p>
                    <p class="window__p">Venezuela</p>
                    <p class="window__p">Yemen</p>
                    <p class="window__p">Zimbabwe</p>
                    <p class="window__p"><b>Tera also does not accept any clients from disputed territories as they do not produce
                    recognised official documents, these include:</b></p>
                    <p class="window__p">Donetsk People’s Republic (DPR)/Luhansk People’s Republic (LPR)</p>
                    <p class="window__p">Pridnestrovian Moldavian Republic</p>
                    <p class="window__p">Nagorno-Karabakh Republic</p>
                    <p class="window__p">Republic of Abkhazia</p>
                    <p class="window__p">Republic of Somaliland</p>
                    <p class="window__p">Republic of South Ossetia</p>
                    <p class="window__p">Turkish Republic of Northern Cyprus</p>
                    <p class="window__p">Republic of China (Taiwan)</p>
                    <p class="window__p">Passports issued by the Russian Federation in Crimea and passports issued to residents of Donetsk</p>
                    <p class="window__p">and Luhansk regions of Ukraine do not qualify for verification</p>
                    <p class="window__p">Republic of Kosovo</p>
                    <p class="window__p">Sahrawi Arab Democratic Republic</p>
                    <p class="window__p">Republic of Artsakh</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}