{% extends 'user_profile/base.html' %}
{% load static %}

{% block wallet_content %}
<div class="invest">
    <div class="row">
        <div class="col-3">
            <div class="window">
                <div class="window__body">
                    <div class="stake__head_bg c1">
                        <div class="stake__head">
                            <div class="stake__head_col">
                                <p class="stake__head_col-p1">1 Week</p>
                                <p>Staking</p>
                            </div>
                            <div class="stake__head_col">
                                <p class="stake__head_col-p1">1.3% per Day</p>
                                <p class="stake__head_col-p1">+ Bonus 1%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="window">
                <div class="window__body">
                    <div class="stake__head_bg c2">
                        <div class="stake__head">
                            <div class="stake__head_col">
                                <p class="stake__head_col-p1">2 Week</p>
                                <p>Staking</p>
                            </div>
                            <div class="stake__head_col">
                                <p class="stake__head_col-p1">1.6% per Day</p>
                                <p class="stake__head_col-p1">+ Bonus 2.5%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="window">
                <div class="window__body">
                    <div class="stake__head_bg c3">
                        <div class="stake__head">
                            <div class="stake__head_col">
                                <p class="stake__head_col-p1">1 Month</p>
                                <p>Staking</p>
                            </div>
                            <div class="stake__head_col">
                                <p class="stake__head_col-p1">2.1% per Day</p>
                                <p class="stake__head_col-p1">+ Bonus 7%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="window">
                <div class="window__body">
                    <div class="stake__head_bg c4">
                        <div class="stake__head">
                            <div class="stake__head_col">
                                <p class="stake__head_col-p1">3 Month</p>
                                <p>Staking</p>
                            </div>
                            <div class="stake__head_col">
                                <p class="stake__head_col-p1">2.6% per Day</p>
                                <p class="stake__head_col-p1">+ Bonus 16%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}