{% extends 'user_profile/base.html' %}
{% load static %}

{% block wallet_content %}
<section class="settings">
    <div class="row">
        <div class="col-12">
            <div class="2fa">
                <div class="2fa__text"></div>
                <button class="2fa__button"></button>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="settings__verif">
                <div class="settings_verif-head">
                    <p class="settings__verif-title">Account Verification</p>
                </div>
                <div class="settings__verif-content">
                    <div class="settings__verif-info">
                        <p class="settings__verif-text">To increase user limits, you need to pass the verification of a
                            Intermediate user or a Advanced user, you must provide personal information, a photo of an
                            identity document, and a photo of your face.
                        </p>
                        <button class="settings__verif-button">Confirm now</button>
                    </div>
                    <img class="settings__verif-img">
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6">
            <div class="settings-block">
                <div class="settings-block__head"></div>
                <div class="settings-block__content"></div>
            </div>
        </div>
        <div class="col-6">
            <div class="settings-block">
                <div class="settings-block__head"></div>
                <div class="settings-block__content"></div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="settings-block">
                <div class="settings-block__head"></div>
                <div class="settings-block__content"></div>
            </div>
        </div>
    </div>
</section>
{% endblock %}