{% extends 'user_profile/base.html' %}
{% load static %}

{% block wallet_content %}
<div class="wallet__boxes">
    <div class="row">
        <div class="col-6">
            <div class="wallet__boxes-box1">
                <div class="wallet__boxes-box1-photo">
                </div>
                <div class="wallet__boxes-box1-body">
                    <div class="wallet__boxes-box1-info">
                        <p>UserName</p>
                        <p>example@mail.com</p>
                        <p>ID: 32423423423</p>
                    </div>
                    <div class="wallet__boxes-box1-balance">
                        <p class="wallet__boxes-box1-balance-text">Total Balance</p>
                        <p class="wallet__boxes-box1-balance-amount">0 USD</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="wallet__boxes-box2 d-flex align-items-center">
                <img src="{% static 'images/gift.svg' %}">
                <div class="wallet_boxes-box2-body">
                    <p class="wallet_boxes-box2-body-text">Use bonus promo code</p>
                    <div class="d-flex">
                        <input class="wallet_boxes-box2-body-input" type="text" name="promo" id="promo">
                        <button class="wallet_boxes-box2-body-button">Activate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wallet__controls">
    <div class="row">
        <div class="col-6 d-flex align-items-center">
            <input class="wallet__controls-input" type="text" name="search" id="search">
            <input class="wallet__controls-checkbox" type="checkbox" name="hide" id="hide">
            <p class="wallet__controls-text">Hide zero balances</p>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <a class="wallet__controls-button" href="">Deposit</a>
            <a class="wallet__controls-button" href="">Withdraw</a>
            <a class="wallet__controls-button" href="">Transfer</a>
        </div>
    </div>
</div>
<div class="wallet__tokens">
    <div class="row">
        <div class="col-12">
            <table>
                <thead class="wallet__tokens-head">
                    <tr>
                        <th>Coint</th>
                        <th>Balance</th>
                        <th>Equivalent</th>
                    </tr>
                </thead>
                <tbody class="wallet__tokens-body">
                    {% for item in data %}
                    <tr class="wallet__tokens-item">
                        <th>
                            <img class="wallet__rokens-body-icon" src="{{item.token.icon.url}}">
                            {{item.token.name}}
                            <span class="wallet__rokens-body-tag">{{item.token.tag}}</span>
                        </th>
                        <td>{{item.amount}}</td>
                        <td>{{item.amount}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}