html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

textarea:focus,
input:focus {
	outline: none;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

:root {
	--color0: #001D1F;
	--color1: #51ABFF;
	--color2: #fff;
	--color3: #FFB951;
	--color4: #D9D9D9;
	--color5: #000505;
	--color6: #000;
	--color7: #001616;
	--color8: rgba(255, 255, 255, 0.42);
}

body {
	font-family: "Montserrat";
	background: var(--color5);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.content {
	flex: 1 1 auto;
}

.header {
	background: var(--color0);
	height: 72px;
	width: 100vw;
	color: white;
}

.header a {
	color: white;
	text-decoration: none;
}

.header__container {
	height: 72px;
}

.header__col {}

.header__logo {
	margin-right: 47px;
}

.header__nav {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.header__nav-item {
	margin-right: 23px;
	color: var(--color2)
}

.header__nav-item:hover a {
	color: var(--color1) !important;
}

.header__nav-item:last-child {
	margin-right: 0;
}

.active-nav-item a {
	color: var(--color1) !important;
}

.text-active {}

.text-yellow {
	color: var(--color3) !important;
}

.header__nav-item-wallet {
	margin-right: 7px;
}

.header__locale {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.header__locale-active {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: var(--color3) !important;
}

.header__locale-backslash {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.header__profile {
	position: relative;
	margin-left: 58px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.header__profile-photo {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: var(--color4);
	overflow: hidden;
}

.header__profile-photo img {
	width: 48px;
}

.header__profile-arrow {
	margin-left: 6px;
}

.header__profile-login {}

.header__profile-register {
	width: 97px;
	height: 28px;
	left: 1193px;
	top: 26px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 14px;

	background: #00687E;
	border-radius: 10px;
}

.header__profile-register:hover {
	background: #0091B1;
}

.footer {
	margin-top: 52px;
}

.footer__top {
	min-height: 290px;
	background: var(--color7);
}

.footer__top-logo {}

.footer__top-offer-text {
	margin-top: 44px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: var(--color4);
}

.footer__top-col {
	width: 200px;
}

.footer__top-col-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--color2);
}

.footer__tp-col-link {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.085em;
	margin: 14px 0;
}

.footer__tp-col-link a {
	color: var(--color8);
	text-decoration: none;
}

.footer__bottom {
	height: 42px;
	background: var(--color6);
	color: var(--color2);
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.text-center {
	text-align: center;
}

.wallet {
	margin-top: 52px;
}

.wallet__menu {
	padding: 24px 24px;
	background: #0D1718;
	border-radius: 15px;
}

.wallet__menu ul li {
	margin-right: 20px;
}

.wallet__menu ul li img {
	margin-right: 7px;
}

.wallet__menu ul li a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
	text-decoration: none;
}

.wallet__menu ul li a:hover {
	color: var(--color1) !important;
}

.wallet__menu-item-active {
	color: var(--color1) !important;
}

.wallet__boxes {
	margin-top: 52px;
}

.wallet__boxes-box1 {
	height: 170px;
	background: #0D1718 url("./images/back.svg") no-repeat right;
	border-radius: 15px;
	display: flex;
	align-items: center;
	padding: 0 10px 0 20px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
}

.wallet__boxes-box1-photo {
	min-width: 74px;
	height: 74px;
	background: var(--color4);
	border-radius: 50%;
	align-self: center;
	overflow: hidden;
	margin: 0 10px 0 0;
}

.wallet__boxes-box1-photo img {
	width: 74px;
}

.wallet__boxes-box1-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px;
	width: 100%;
}

.wallet__boxes-box1-info {
	flex: 0 1 50%;
}

.wallet__boxes-box1-info p {
	padding: 7px 0;
	display: flex;
	align-items: center;
}

.wallet__boxes-box1-info img {
	width: 14px;
	margin: 0 10px 0 0;
}

.wallet__boxes-box1-balance {
	flex: 0 1 50%;
	text-align: end;
}

.wallet__boxes-box1-balance p {
	padding: 2px 0;
}

.wallet__boxes-box1-balance-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.wallet__boxes-box1-balance-amount {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
}

.wallet__boxes-box2 {
	height: 170px;
	background: #1E4060;
	border-radius: 15px;
}

.wallet__boxes-box2 img {
	margin-left: 39px;
}

.wallet_boxes-box2-body {
	padding: 14px;
	width: 100%;
}

.wallet_boxes-box2-body-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 14px;
	color: var(--color2);
}

.wallet_boxes-box2-body-input {
	width: 100%;
	margin-right: 14px;
	height: 39px;
	background: #0D1718;
	border-radius: 5px;
	border: none;
	padding: 10px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
}

.wallet_boxes-box2-body-button {
	min-width: 92px;
	min-height: 39px;
	background: #601318;
	border-radius: 5px;
	border: none;
	cursor: pointer;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
}

.wallet__controls {
	margin-top: 52px;
}

.wallet__controls-input {
	width: 195px;
	height: 48px;
	border: none;
	padding: 10px 10px 10px 40px;
	margin-right: 61px;

	background: #0D1718 url(./images/overview.svg) no-repeat scroll 12px 14px;
	background-size: 18px 18px;
	border-radius: 5px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
	display: block;
	position: relative;
}

.wallet__controls-checkbox {
	margin-right: 27px;
}

.wallet__controls-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
}

.wallet__controls-button {
	width: 154px;
	height: 48px;
	background: #1E4060;
	border-radius: 5px;
	margin-left: 18px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
	text-decoration: none;
}

.wallet__controls-button:first-child {
	margin-left: 0;
}

.sign__form {
	width: 754px;
	height: 773px;
	border-radius: 20px;
	display: flex;
	background: url("./images/sign-form.jpg");
	overflow: hidden;
}

.sign__form-left {
	width: 50%;
	height: 100%;
	background: #111111;
}

.sign__form-left-body {
	padding: 73px 48px 0 42px;
}

.form-label {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--color2);
	margin-bottom: 14px;
}

.form-error {
	display: block;
}

.form-input {
	display: block;
	height: 39px;
	width: 100%;
	border: none;
	margin-bottom: 45px;
	padding: 5px 20px;

	background: #232323;
	border-radius: 5px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 30px;
	color: var(--color2);
}

.form-checkbox {
	display: inline-block;
	background: #232323;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

.form-terms {
	display: inline-block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	/* margin-bottom: 30px; */
	color: var(--color2);
}

.form-terms a {
	color: var(--color1);
}

.form-button {
	width: 272px;
	height: 39px;
	cursor: pointer;

	background: #0A6976;
	border-radius: 5px;
	border: none;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
	width: 100%;
}

.form-button:hover {
	background: #0091B1;
}

.form-error {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 30px;
	color: #ca8e9a;
}

.form-controls {
	margin-bottom: 50px;
}

.wallet__tokens {
	margin-top: 52px;
}

.wallet__tokens table {
	width: 100%;
	display: block;
}

.wallet__tokens-head {
	display: flex;
	height: 52px;
	width: 100%;
	background: #1E4060;
	border-radius: 10px 10px 0px 0px;
	align-items: center;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 17px;
	color: var(--color4);
}

.wallet__tokens-head tr {
	width: 100%;
	display: flex;
	padding: 0 0 0 10px;
}

.wallet__tokens-head tr th:first-child {
	flex: 0 1 50%;
	display: flex;
	justify-content: start;
}

.wallet__tokens-head tr th {
	flex: 0 1 25%;
	display: flex;
	justify-content: center;
}

.wallet__tokens-body {
	display: block;
	background: #0D1718;
	border-radius: 0 0 10px 10px;
	min-height: 30px;
}

.wallet__tokens-body tr {
	padding: 0 0 0 10px;
	border-bottom: 1px solid rgb(80, 80, 80);
}

.wallet__tokens-body tr:last-child {
	border-bottom: none;
}

.wallet__tokens-item {
	display: flex;
	align-items: center;
	height: 52px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
}

.wallet__tokens-item td {
	flex: 0 1 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid rgb(80, 80, 80);
	height: 100%;
}

.wallet__tokens-item th {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}

.wallet__rokens-body-tag {
	color: rgb(131, 131, 131);
	margin: 0 0 0 10px;
}

.wallet__rokens-body-icon {
	width: 32px;
	margin: 0 10px 0 0;
}

.deposit__tokens {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
	margin: 52px 0 0 0;
	padding: 0 22px 0 12px;
	height: 530px;
	overflow: none;
	overflow-y: auto;
}

.deposit__wallet {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
	margin: 52px 0 0 0;
	height: 530px;
	overflow: none;
	overflow-y: auto;
	border-radius: 10px;
	background: #0d1718
}

.deposit__token {
	display: flex;
	justify-content: space-between;
	background: #0d1718;
	margin: 0 0 5px 0;
	padding: 12px;
	align-items: center;
	border-radius: 6px;
	cursor: pointer;
}

.deposit__token.active {
	background: #1c3234;
}

.deposit__token:hover {
	background: #2f5357;
}

.deposit__token-name {
	display: flex;
	align-items: center;
}

.deposit__token-icon {
	width: 32px;
	margin: 0 10px 0 0;
}

.deposit__wallet-header {
	height: 52px;
	border-bottom: 1px solid #274548;
	display: flex;
	font-size: 18px;
	align-items: center;
	padding: 5px 0 5px 15px;
}

.deposit__wallet-body {
	padding: 20px 50px 0 50px;
	position: relative;
}

.deposit__wallet-body-tab {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	opacity: 1;
	visibility: visible;
	transition: .5s ease-in-out;
	padding: 20px 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.deposit__wallet-body-top {
	display: flex;
	align-items: center;
	color: gray;
}

.deposit__wallet-body-top p {
	padding: 2px 0;
}

.deposit__wallet-body-top-icon {
	width: 48px;
	margin-right: 20px;
}

.deposit__wallet-body-middle {
	margin: 30px 0 0 0;
	display: flex;
	align-items: center;
	color: gray;
}

.deposit__wallet-body-middle ul {
	list-style-type: disc;
}

.deposit__wallet-body-middle ul li {
	margin: 0 0 10px 0;
}

.deposit__wallet-body-middle-qr {
	width: 192px;
	height: 192px;
	display: block;
	background: white;
	margin: 0 30px 0 0;
}

.deposit__wallet-body-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 68px
}

.deposit__wallet-body-bottom-conainer {
	background: black;
	border: 2px solid rgb(24, 24, 24);
	border-radius: 10px;
	height: 52px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}

.deposit__wallet-body-bottom-conainer p {
	display: block;
	width: 100%;
	margin-right: 15px;
	background: transparent;
	border: none;
	/* color: white; */
}

.deposit__wallet-body-bottom-conainer-button {
	height: 42px;
	min-width: 100px;
	background: #0091B1;
	border: none;
	border-radius: 5px;
	cursor: pointer;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--color2);
}

.inactive {
	opacity: 0 !important;
	visibility: hidden !important;
}

.hidden {
	display: none;
}

.withdraw-form-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 20px 0;
}

.withdraw-form-controls label {
	font-weight: 600;
}

.withdraw-form-controls input {
	height: 36px;
	width: 320px;
	background: black;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 0 20px;
}

.withdraw-form-controls button {
	height: 38px;
	border: none;
	background: rgb(117, 78, 78);
	border-radius: 10px;
	color: white;
	padding: 0 30px;
	cursor: pointer;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.withdraw-form-controls button:hover {
	background: rgb(183, 125, 125);
}

.withdraw-form-desc {
	color: gray;
	display: block;
	list-style-type: disc;
}

.header__profile-expanded {
	right: 0;
	top: 61px;
	transform: translateX(50%);
	width: 200px;
	height: 400px;
	background: var(--color0);
	position: absolute;
	padding: 10px;
	border-radius: 10px;
}

.transactions {
	border-radius: 10px;
	background: var(--color0);
	padding: 10px 0 10px 0;
	margin: 52px 0 0 0;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: white;
}

.transactions__header {
	padding: 0 10px 10px 10px;
	border-bottom: 1px solid gray;
}

.transactions__body {
	padding: 10px;
}

.transactions__body table {
	width: 100%;
	display: block;
}

.transactions__table_head {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: white;
	display: flex;
	width: 100%;
	margin: 0 0 10px 0;
}

.transactions__table_head tr {
	width: 100%;
	display: flex;
}

.transactions__table_head tr th {
	flex: 0 1 16.6666%;
	display: block;
}

.transactions__table_body {
	background: black;
	width: 100%;
	display: block;
}

.transactions__table_item {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: white;
	display: flex;
	width: 100%;
	padding: 5px 0 5px 0;
}

.transactions__table_item td {
	flex: 0 1 16.6666%;
	text-align: center;
}

.invest {
	margin: 52px 0 0 0;
}

.window {
	background: var(--color0);
	border-radius: 5px;
	width: 100%;
}

.window__header {
	padding: 15px;
	border-bottom: 1px solid gray;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 17px;
	color: white;
}

.window__body {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: white;
	padding: 10px;
}

.window__controls {
	margin: 0 0 20px 0;
}

.window__controls_label {
	display: inline-block;
	margin: 0 0 10px 0;
	color: gray;
}

.tabs {
	min-height: 400px;
}

.tabs__buttons {}

.tabs__buttons_button {
	height: 32px;
	min-width: 120px;
	border: none;
	background: transparent;
	cursor: pointer;
	border-radius: 6px 6px 0 0;

	font-family: "Montserrat";
	color: white;
	font-weight: 600;
}

.tabs__buttons_button.selected {
	background: var(--color1);
}

.tabs__body {
	position: relative;
}

.transfer_button {
	border: none;
	height: 32px;
	min-width: 100px;
	color: white;
	border-radius: 5px;
	background: #0085FF;
	cursor: pointer;
}

.transfer_button:hover {
	background: #00c8ff;
}

.tabs__tab {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	visibility: visible;
	opacity: 1;
	transition: .5s ease-in-out;
}

.tabs__tab p {
	display: flex;
	justify-content: space-between;
}

.tabs_tab_transfer-body {
	padding: 0 100px;
	margin: 30px 0 0 0;
}

.tabs_tab_transfer-body .nice-select {
	width: 100%;
}

.tabs_tab_transfer-body-controls {
	display: flex;
	justify-content: space-between;
	margin: 0 0 30px 0;
	align-items: center;
}

.tabs_tab_transfer-body-control1 {
	flex: 0 1 40%;
}

.tabs_tab_transfer-body-control2 {
	flex: 0 1 60%;
}

.tabs_tab_transfer-body-control2 input {
	width: 100%;
	background: black;
	height: 38px;
	border: none;
	padding: 10px 30px;
	color: white;
}

.stake__head {
	/* height: 76px; */
	border-radius: 10px;
	padding: 4px;
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.809);
	display: flex;
	justify-content: space-between;
}

.stake__head p {
	color: gray;
	margin: 8px 6px;
}

.stake__head_bg {
	position: relative;
	/* height: 84px; */
	padding: 1px;
	border-radius: 10px;
	margin: 0 0 20px 0;
}

.stake__head_bg.c1 {
	background: linear-gradient(267.38deg, #ADFF00 -4.27%, #0085FF 98.57%, rgba(255, 255, 255, 0) 104.22%);
}

.stake__head_bg.c2 {
	background: linear-gradient(267.38deg, #001eff -4.27%, #ff0000 98.57%, rgba(255, 255, 255, 0) 104.22%);
}

.stake__head_bg.c3 {
	background: linear-gradient(267.38deg, #ff0000 -4.27%, #00c8ff 98.57%, rgba(255, 255, 255, 0) 104.22%);
}

.stake__head_bg.c4 {
	background: linear-gradient(267.38deg, #ffb700 -4.27%, #f700ff 98.57%, rgba(255, 255, 255, 0) 104.22%);
}

.stake__head_col {}

.stake__head_col-p1 {
	font-weight: 600;
	color: white !important;
}

.btc::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background-image: url("./images/stake/icon-btc.svg");
	background-size: cover;
}

.ltc::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background-image: url("./images/stake/icon-ltk.svg");
	background-size: cover;
}

.eth::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background-image: url("./images/stake/icon-eth.svg");
	background-size: cover;
}

.select {
	height: 28px;
	padding: 12px 0 0 30px;
	background: #02070a;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	color: rgb(147, 147, 147);
}

.select__span {
	position: relative;
	padding: 0 0 0 30px;
}

.select.active {
	overflow: visible;
}

.select.active::before {
	transform: rotate(180deg);
}

.select::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 6px;
	background: url("./images/select-array.svg") no-repeat;
	top: 15px;
	right: 15px;
	transform: translateY(50%);
	z-index: 1;
}

.select__list {
	background: #02070a;
	border-radius: 5px;
	margin: 25px 0 0 -30px;
	padding: 10px 10px 10px 30px;
	display: block;
}

.select__item {
	position: relative;
	padding: 5px 0 5px 30px;
}

.stake__amount {
	display: flex;
}

.stake__amount_text {
	background: #02070a;
	display: flex;
	align-items: center;
	padding: 0 30 0 30px;
}

.stake__amount_text input {
	background: transparent;
	border: none;
	max-width: 154px;

	color: white;
}

.stake__amount_button {
	width: 50px;
	height: 40px;
	border: none;
	background: rgb(40, 39, 39);
	border-radius: 0 5px 5px 0;
	cursor: pointer;

	color: white;
	font-weight: 600;
}

.text-green {
	color: rgb(0, 226, 0);
}

.stake__button {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 600;
	background: #003b73;
	border: none;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
}

.stake__button:hover {
	background: #0063bf;
}

.stake__amount_crypto {}

.affiliate {
	/*text props*/
	color: white;
}

.affiliate__margin-top {
	margin-top: 52px;
}

.block {
	background: #0D1718;
	border-radius: 5px;
}

.block__margin-top {
	margin-top: 22px;
}

.block__head {
	border-bottom: 1px solid rgb(103, 103, 103);
	padding: 15px 20px 0 20px;
}

.block__title {
	font-size: 18px;
	margin-bottom: 10px;
}

.block-content {
	padding: 20px;
}

.affiliate__content {
	display: flex;
}

.affiliate__content-left {
	flex: 0 1 60%;
}

.affiliate__text {
	font-size: 14px;
	color: rgb(188, 188, 188);
	max-width: 70%;
	line-height: 1.2;
}

.affiliate__content-right {
	flex: 0 1 40%;
}

.affiliate__link {
	display: flex;
}

.affiliate__input {
	display: block;
	background: #000;
	border: none;
	border-radius: 5px 0 0 5px;
	height: 40px;
	width: 100%;
	padding: 0 20px;

	color: white;
}

.affiliate__button {
	display: block;
	background: rgb(0, 59, 153);
	border: none;
	border-radius: 0 5px 5px 0;
	height: 40px;
	min-width: 80px;
	cursor: pointer;

	color: white;
}

.affiliate__table {
	display: block;

	color: white;
}

.affiliate__table-head {
	display: block;
}

.affiliate__table-tr {
	display: flex;
	padding: 15px;
}

.affiliate__table-tr:nth-child(even) {
	background: #000;
}

.affiliate__table-th {
	flex: 0 1 33.33%;
	text-align: start;
}

.affiliate__table-body {
	display: block;
}

.affiliate__table-td {
	flex: 0 1 33.33%;
	text-align: start;
	font-size: 14px;
}

.affiliate__table-foot {
	display: block;
	border-top: 2px solid rgb(102, 102, 102);
	margin-top: 15px;
}

.affiliate__table-foot-th {
	flex: 0 1 33.33%;
	text-align: start;
}

.affiliate__small-text {
	font-size: 14px;
	line-height: 1.5;
}

.api {
	color: white;
}

.api__margin-top {
	margin-top: 52px;
}

.api__content {
	width: 300px;
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px 0;
}

.api__controls {}

.api__label {
	display: flex;
	align-items: center;
	font-size: 13px;
	margin: 0 0 10px 0;
	color: rgb(131, 131, 131);
}

.api__checkbox {
	display: block;
	margin: 0 10px 0 0;
}

.api__button {
	height: 36px;
	min-width: 120px;
	font-weight: 600;
	background: #003b73;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: white;
}

.api__button:hover {
	background: #005fb8;
}

.api__table {
	display: block;
	color: white;
}

.api__table-head {
	display: block;
}

.api__table-tr {
	display: flex;
	padding: 10px;
}

.api__table-th {
	flex: 0 1 25%;
	text-align: start;
}

.api__table-body {
	display: block;
	font-size: 14px;
	background: #000;
}

.api__table-td {}

.settings {
	color: white;
}

.settings__margin-top {
	margin-top: 52px;
}

.twofa {
	height: 95px;
	position: relative;
}

.twofa::before {
	display: block;
	width: 60px;
}

.twofa::before {
	content: "";
	background: url("./images/shield.svg");
	width: 120px;
	height: 140px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(0, -25%);
}

.twofa__body {
	background: linear-gradient(90.08deg, #4F9556 6.67%, #00526B 99.93%);
	border-radius: 15px;
	height: 100%;
	margin-left: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px 0 100px;
}

.twofa__text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.twofa__span {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.twofa__button {
	width: 142px;
	height: 48px;
	background: #001D1F;
	border-radius: 5px;
	border: none;
	cursor: pointer;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: white;
}

.settings__verif {
	height: 214px;
	background: #172A2C;
	border-radius: 5px;
	padding: 10px 20px 30px 20px;
}

.settings_verif-head {
	border-bottom: 2px solid #264649;
}

.settings__verif-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}

.settings__verif-content {
	display: flex;
	align-items: center;
}

.settings__verif-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	color: #FFB951;
}

.settings__verif-button {
	width: 170px;
	height: 48px;
	cursor: pointer;
	border: none;

	background: #51ABFF;
	border-radius: 5px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	color: #FFFFFF;
}

.settings__verif-img {
	margin: 0 30px 0 30px
}

.settings-block {
	height: 484px;
	padding: 10px 20px 30px 20px;

	background: #0D1718;
	border-radius: 5px;
}

.settings-block__head {
	border-bottom: 2px solid #264649;
}

.settings__block-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}

.settings-block__content {
	padding: 20px 0 0 0;
}

.settings__form {
	
}

.settings__form-controls {

}

.settings__form-control {
	margin-bottom: 10px;
}

.settings__form-label {
	display: block;
	margin-bottom: 20px;
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	color: #C7CFE2;
}

.settings__form-text {
	display: block;
	height: 40px;
	border: none;
	width: 100%;

	background: #000505;
	border-radius: 5px;
}

.settings__form-file {
	display: block;
}

.settings__form-button {
	width: 170px;
	height: 48px;
	cursor: pointer;
	border: none;
	display: block;
	margin-top: 20px;

	background: #51ABFF;
	border-radius: 5px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	color: #FFFFFF;
}

.settings__container {
	display: flex;
}

.settings__container-col {
	flex: 0 1 50%;
	margin: 0 10px;
}