html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

textarea:focus,
input:focus {
	outline: none;
}

body {
	line-height: 1;
}

.container {
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

b {
	font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.ultrascroll::-webkit-scrollbar {
	width: 4px;
}

.ultrascroll::-webkit-scrollbar-track {
	background: transparent
}

.ultrascroll::-webkit-scrollbar-thumb {
	background: #32343b;
	border-radius: 2px;
}

.ultrascroll::-webkit-scrollbar-thumb:hover {
	background: #555;
}

body {
	font-family: "Montserrat";
	background: var(--background);
}

.body--trading {
	background: var(--background);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.content {
	flex: 1 1 auto;
}

.header {
	background: var(--header-bg);
	height: 72px;
	color: var(--regular-text);
}

@media (max-width: 576px) {
	.header {
		/* padding: 0 18px 0 0; */
	}
}

.header--trading {
	background: var(--header-bg);
}

.header a {
	color: var(--regular-text);
	text-decoration: none;
}

.header__container {
	height: 72px;
	display: flex;
	justify-content: space-between;
}

.header__col {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 47px;
}

.header__nav {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.header__nav>ul {
	display: flex;
	flex-direction: row;
}

.header__nav-tablet {
	display: none;
	background-image: url("./images/menu.svg");
	background-size: contain;
	filter: invert(100%);
	width: 32px;
	height: 32px;
	cursor: pointer;
	flex: 0 0 auto;
}

.theme-light .header__nav-tablet {
	filter: none;
}

.header__nav-item {
	display: block;
	position: relative;
	margin-right: 23px;
	color: var(--ocean-text);
	cursor: pointer;
}

.header__nav-item--mark {
	margin-right: 29px;
}

.header__nav-item--mark::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid var(--regular-text);
	top: 7px;
	right: -16px;
}

.header__nav-sub-menu {
	display: none;
	position: absolute;
	z-index: 211;
	overflow: auto;
	left: 0;
	width: 200px;
	background: var(--background);
	color: var(--regular-text);
	padding: 20px;
}

.header__nav-sub-item {
	padding: 5px 5px;
	display: block;
}

.header__nav-sub-item a {
	color: var(--regular-text)
}

.header__nav-item:hover {
	color: var(--ocean-text)
}

.header__nav-item:hover>.header__nav-sub-menu {
	display: block;
}

.header__nav-item:hover>a {
	color: var(--ocean-text);
}

.header__nav-item:last-child {
	margin-right: 0;
}

.active-nav-item {
	color: var(--ocean-text);
}

.active-nav-item>a {
	color: var(--ocean-text);
}

.header__nav-sub-item:hover a {
	color: var(--ocean-text);
}

.text-active {}

.text-yellow {
	color: var(--sand-text) !important;
}

.header__nav-item-wallet {
	margin-right: 7px;
}

@media (max-width: 992px) {
	.header__nav ul {
		display: none;
	}

	.header__nav--show {
		display: block !important;
	}

	.header__nav-tablet {
		display: block;
	}
}

.header__locale {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.header__locale-active {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	color: var(--sand-text) !important;
}

.header__locale-backslash {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.header__profile {
	position: relative;
	margin-left: 58px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
}

.header__profile-photo {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: var(--disabled-text);
	overflow: hidden;
}

.header__profile-photo img {
	width: 48px;
}

.header__profile-arrow {
	margin-left: 6px;
	color: var(--regular-text);
}

.header__profile-login {
	text-decoration: underline !important;
}

.header__profile-register {
	width: 97px;
	height: 28px;
	left: 1193px;
	top: 26px;
	padding: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 14px;
	border-radius: 10px;
	border: 1px solid #006075;
}

@media (max-width: 992px) {
	.header__profile-login {
		display: none;
	}

	.header__profile-register {
		display: none;
	}
}

.header__profile-register:hover {
	border: 1px solid #0091B1;
}

.footer {
	margin-top: 52px;
}

.footer__top {
	min-height: 290px;
	background: var(--header-bg);
}

.footer__top-logo {
	color: var(--regular-text);
}

.footer__top-offer-text {
	margin-top: 44px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: var(--regular-text);
}

.footer__top-col {
	width: 200px;
}

.footer__top-col-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--regular-text);
}

.footer__tp-col-link {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.085em;
	margin: 14px 0;
}

.footer__tp-col-link a {
	color: var(--regular-text);
	text-decoration: none;
}

.footer__bottom {
	height: 42px;
	background: var(--background);
	color: var(--regular-text);
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

@media (max-width: 992px) {
	.footer__top-col {
		display: none;
	}
}

.text-center {
	text-align: center;
}

.wallet {
	margin-top: 52px;
}

.wallet__menu {
	padding: 24px 24px;
	background: var(--element-bg);
	border-radius: 15px;
}

.wallet__menu-tablet {
	display: none;
	background-image: url("./images/menu.svg");
	background-size: contain;
	filter: invert(100%);
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.theme-light .wallet__menu-tablet {
	filter: invert(0);
}

.wallet__menu ul {
	display: flex;
}

.wallet__menu ul li {
	margin-right: 20px;
}

.wallet__menu ul li img {
	margin-right: 7px;
}

.wallet__menu ul li svg {
	margin-right: 7px;
	color: var(--regular-text);
}

.wallet__menu ul li a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
	text-decoration: none;
}

.wallet__menu ul li a:hover {
	color: var(--ocean-text) !important;
}

.wallet__menu-item-active {
	color: var(--ocean-text) !important;
}

@media (max-width: 1200px) {
	.wallet__menu {
		display: block;
	}

	.wallet__menu-tablet {
		display: block;
	}

	.wallet__menu ul {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		display: none;
	}

	.wallet__menu ul li {
		margin-right: 0;
		margin-bottom: 10px;
	}

	.wallet__menu ul li a {
		text-align: center;
	}
}

.wallet__menu--open ul {
	display: block;
}

.wallet__boxes {
	margin-top: 52px;
}

.wallet__boxes-box1 {
	min-height: 170px;
	/* background: var(--control-bg) url("./images/back.svg") no-repeat right; */
	background: var(--element-bg);
	border-radius: 15px;
	display: flex;
	align-items: center;
	padding: 0 10px 0 20px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
}

.wallet__boxes-box1-photo {
	min-width: 74px;
	height: 74px;
	background: var(--disabled-text);
	border-radius: 50%;
	align-self: center;
	overflow: hidden;
	margin: 0 10px 0 0;
}

.wallet__boxes-box1-photo img {
	width: 74px;
}

.wallet__boxes-box1-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px;
	width: 100%;
}

.wallet__boxes-box1-info {
	flex: 0 1 50%;
}

.wallet__boxes-box1-info p {
	padding: 7px 0;
	display: flex;
	align-items: center;
}

.wallet__boxes-box1-info svg {
	width: 14px;
	margin: 0 10px 0 0;
}

.wallet__boxes-box1-balance {
	flex: 0 1 50%;
	text-align: end;
}

.wallet__boxes-box1-balance p {
	padding: 2px 0;
}

.wallet__boxes-box1-balance-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.wallet__boxes-box1-balance-amount {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 39px;
}

@media (max-width: 515px) {
	.wallet__boxes-box1-body {
		flex-direction: column;
	}

	.wallet__boxes-box1-photo {
		display: none;
	}

	.wallet__boxes-box1-balance {
		margin-top: 20px;
	}

	.wallet__boxes-box1-balance-text {
		text-align: center;
	}
}

.wallet__boxes-box2 {
	height: 170px;
	background: var(--element-bg);
	border-radius: 15px;
	display: flex;
	align-items: center;
}

@media (max-width: 992px) {
	.wallet__boxes-box2 {
		margin-top: 52px;
	}
}

.wallet__boxes-box2 img {
	margin-left: 39px;
}

.wallet_boxes-box2-body {
	padding: 14px;
	width: 100%;
}

.wallet_boxes-box2-body-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 14px;
	color: var(--regular-text);
}

.wallet_boxes-box2-body-input {
	width: 100%;
	margin-right: 14px;
	height: 19px;
	background: var(--control-bg-text);
	border-radius: 5px;
	border: 1px solid var(--border);
	padding: 10px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
}

.wallet_boxes-box2-body-button {
	min-width: 92px;
	min-height: 39px;
	background: var(--control-bg);
	border-radius: 5px;
	border: none;
	cursor: pointer;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
}

@media (max-width: 515px) {
	.wallet__boxes-box2 img {
		display: none;
	}

	.wallet_tokens-item-name {
		display: none;
	}
}

.wallet__controls {
	margin-top: 52px;
}

.wallet__controls-input {
	width: 195px;
	height: 25px;
	border: 1px solid var(--border);
	padding: 10px 10px 10px 40px;
	margin-right: 61px;
	border-radius: 5px;
	background: var(--control-bg-text);

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
	display: block;
	position: relative;
}

.wallet__controls-search {
	position: relative;
}

.wallet__controls-search-icon {
	width: 18px;
	height: 18px;
	position: absolute;
	z-index: 5;
	top: 15px;
	left: 14px;
	color: var(--regular-text);
}

.wallet__controls-checkbox {
	margin-right: 27px;
}

.wallet__controls-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
}

.wallet__controls-button {
	width: 154px;
	height: 48px;
	background: var(--control-bg);
	border-radius: 5px;
	margin-left: 18px;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
	text-decoration: none;
}

.wallet__controls-button:first-child {
	margin-left: 0;
}

.sign__form {
	width: 754px;
	height: 773px;
	border-radius: 20px;
	display: flex;
	background: url("./images/sign-form.jpg");
	overflow: hidden;
	padding: 0;
}

.theme-light .sign__form {
	/* background: url("./images/sign-form-light.jpg"); */
	background: none;
	background-color: var(--control-bg);
}

.sign__form-left {
	width: 50%;
	height: 100%;
	background: var(--element-bg);
	position: relative;
}

.theme-light .sign__form {
	border: 2px solid var(--control-bg);
}

.sign__form-left-body {
	/* padding: 73px 48px 0 42px; */
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.sign__form-left-body-container {
	padding: 73px 48px 0 42px;
}

@media (max-width: 768px) {
	.sign__form {
		background: none;
		width: 100%;
	}

	.sign__form-left {
		width: 100%;
	}
}

.form-label {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: var(--disabled-text);
	margin-bottom: 14px;
}

.form-input {
	display: block;
	height: 39px;
	width: 100%;
	border: 1px solid var(--border);
	padding: 5px 20px;
	box-sizing: border-box;

	background: var(--control-bg-text);
	border-radius: 5px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
}

.form-checkbox {
	display: inline-block;
	background: #232323;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

.form-terms {
	display: inline-block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	/* margin-bottom: 30px; */
	color: var(--disabled-text);
}

.form-terms a {
	color: var(--ocean-text);
}

.form-button {
	width: 272px;
	height: 39px;
	cursor: pointer;

	background: var(--control-bg);
	border-radius: 5px;
	border: none;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
	width: 100%;
}

.form-button:hover {
	background: var(--control-bg-hover);
}

.form-error {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 5px;
	color: var(--danger-text);
}

.form-controls {
	margin-bottom: 30px;
}

.wallet__tokens {
	margin-top: 52px;
}

@media (max-width: 992px) {
	.wallet__buttons {
		margin-top: 52px;
	}
}

.wallet__tokens table {
	width: 100%;
	display: block;
}

.wallet__tokens-head {
	display: flex;
	height: 52px;
	width: 100%;
	background: var(--control-bg);
	border-radius: 10px 10px 0px 0px;
	align-items: center;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
}

.wallet__tokens-head tr {
	width: 100%;
	display: flex;
	padding: 0 0 0 10px;
}

.wallet__tokens-head tr th:first-child {
	flex: 0 1 50%;
	display: flex;
	justify-content: start;
}

.wallet__tokens-head tr th {
	flex: 0 1 25%;
	display: flex;
	justify-content: center;
}

.wallet__tokens-body {
	display: block;
	background: var(--element-bg);
	border-radius: 0 0 10px 10px;
	min-height: 30px;
}

.wallet__tokens-body tr {
	padding: 0 0 0 10px;
	border-bottom: 1px solid var(--border);
}

.wallet__tokens-body tr:last-child {
	border-bottom: none;
}

.wallet__tokens-item {
	display: flex;
	align-items: center;
	height: 52px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
}

.wallet__tokens-item td {
	flex: 0 1 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid rgb(80, 80, 80);
	height: 100%;
}

.wallet__tokens-item th {
	flex: 0 1 50%;
	display: flex;
	align-items: center;
}

.wallet__rokens-body-tag {
	color: var(--disabled-text);
	margin: 0 0 0 10px;
}

.wallet__rokens-body-icon {
	width: 32px;
	margin: 0 10px 0 0;
}

@media (max-width: 515px) {
	.wallet__tokens-head tr th:first-child {
		flex: 0 0 33%;
	}

	.wallet__tokens-head tr th {
		flex: 0 0 33%;
	}
	
	.wallet__tokens-item th {
		flex: 0 0 33%;
	}

	.wallet__tokens-item td {
		flex: 0 0 33%;
	}
}

.deposit__tokens {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
	margin: 52px 0 0 0;
	padding: 0 22px 0 12px;
	height: 530px;
	overflow: none;
	overflow-y: auto;
}

@media (max-width: 992px) {
	.deposit__tokens {
		display: none;
		position: fixed;
		margin: 0;
		left: 0;
		top: 0;
		background: var(--element-bg);
		/* border-radius: 5px; */
		z-index: 100;
		padding: 12px;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		--webkit-backface-visibility: hidden;
	}
}

.deposit__tokens--show {
	display: block;
}

.deposit__wallet {
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
	margin: 52px 0 0 0;
	height: 530px;
	overflow: none;
	overflow-y: auto;
	border-radius: 10px;
	background: var(--element-bg);
}

.deposit__token {
	display: flex;
	justify-content: space-between;
	background: var(--control-bg);
	margin: 0 0 5px 0;
	padding: 12px;
	align-items: center;
	border-radius: 6px;
	cursor: pointer;
}

.deposit__token.active {
	background: var(--control-bg-hover);
}

.deposit__token:hover {
	background: var(--control-bg-hover);
}

.deposit__token-name {
	display: flex;
	align-items: center;
}

.deposit__token-icon {
	width: 32px;
	margin: 0 10px 0 0;
}

.deposit__wallet-header {
	height: 52px;
	border-bottom: 1px solid #274548;
	display: flex;
	font-size: 18px;
	align-items: center;
	justify-content: space-between;
	padding: 5px 0 5px 15px;
}

.deposit__wallet-button-show {
	border: 1px solid var(--border);
	border-radius: 5px;
	padding: 10px 20px;
	margin-right: 10px;
	background: var(--control-bg);
	color: var(--regular-text);
	letter-spacing: 0.3rem;
	font-weight: 600;
	cursor: pointer;
	display: none;
}

.deposit__wallet-button-show:hover {
	background: var(--control-bg-hover);
}

.deposit__wallet-body {
	padding: 20px 50px 0 50px;
	position: relative;
}

.deposit__wallet-body-tab {
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	opacity: 1;
	visibility: visible;
	transition: .5s ease-in-out;
	padding: 20px 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.deposit__wallet-body-top {
	display: flex;
	align-items: center;
	color: var(--disabled-text);
}

.deposit__wallet-body-top p {
	padding: 2px 0;
}

.deposit__wallet-body-top-icon {
	width: 48px;
	margin-right: 20px;
}

.deposit__wallet-body-middle {
	margin: 30px 0 0 0;
	display: flex;
	align-items: center;
	color: (--disabled-text);
}

@media (max-width: 768px) {
	.deposit__wallet {
		height: 700px;
	}

	.deposit__wallet-body-middle {
		flex-direction: column;
	}

	.deposit__wallet-body-tab {
		padding: 20px 20px;
	}
}

.deposit__wallet-body-middle ul {
	list-style-type: disc;
}

.deposit__wallet-body-middle ul li {
	margin: 0 0 10px 0;
}

.deposit__wallet-body-middle-qr {
	width: 192px;
	height: 192px;
	display: block;
	background: white;
	margin: 0 30px 0 0;
}

.deposit__wallet-body-bottom {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 68px
}

.deposit__wallet-body-bottom-conainer {
	background: var(--control-bg-text);
	border: 2px solid var(--border);
	border-radius: 10px;
	height: 52px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}

.deposit__wallet-body-bottom-conainer p {
	display: inline-block;
	margin-right: 15px;
	background: transparent;
	border: none;
	/* color: var(--regular-text); */
}

.deposit__wallet-body-bottom-conainer-button {
	height: 42px;
	min-width: 100px;
	background: var(--control-bg);
	border: none;
	border-radius: 5px;
	cursor: pointer;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
}

@media (max-width: 768px) {
	.deposit__wallet-body-bottom-conainer {
		flex-direction: column;
		height: 90px;
		padding-top: 10px;
		box-sizing: border-box;
		overflow: hidden;
	}

	.deposit__wallet-body-middle-qr {
		margin-bottom: 20px;
	}

	.deposit__wallet-body-bottom-conainer p {
		box-sizing: border-box;
		margin: 0;
	}

	.deposit__wallet-body-bottom-conainer-button {
		margin: 10px 0;
		padding: 10px 0;
	}
}

.inactive {
	opacity: 0 !important;
	visibility: hidden !important;
}

.hidden {
	display: none!important;
}

.withdraw-form-controls {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 20px 0;
}

.withdraw-form-controls label {
	font-weight: 600;
}

.withdraw-form-controls input {
	height: 36px;
	width: 320px;
	background: var(--control-bg-text);
	border: 1px solid var(--border);
	border-radius: 5px;
	color: var(--regular-text);
	padding: 0 20px;
}

.withdraw-form-controls button {
	height: 38px;
	border: none;
	background: rgb(117, 78, 78);
	border-radius: 10px;
	color: white;
	padding: 0 30px;
	cursor: pointer;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
}

.withdraw-form-controls button:hover {
	background: rgb(183, 125, 125);
}

.withdraw-form-desc {
	color: var(--disabled-text);
	display: block;
	list-style-type: disc;
}

.header__profile-expanded {
	right: 0;
	top: 61px;
	transform: translateX(0%);
	min-width: 200px;
	height: auto;
	background: var(--element-bg);
	position: absolute;
	padding: 10px 0;
	border-radius: 10px;
	z-index: 10;
	border: 1px solid var(--border);
	font-weight: normal;
}

.header__top {
	border-bottom: 1px solid var(--border);
	padding: 0 30px 10px 30px;
	display: flex;
}

.header__top-info {
	margin: 0 0 0 14px;
	padding: 12px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__middle {
	padding: 5px 30px 0 30px;
}

.header__bot {
	border-top: 1px solid var(--border);
	padding: 5px 30px 0 30px;
}

.header__profile-expanded-link {
	display: flex;
	margin-bottom: 5px;
	justify-content: start;
	align-items: center;
}

.header__profile-expanded-img {
	width: 70px;
}

.header__profile-expanded-svg {
	width: 15px;
	height: 15px;
	display: block;
	margin: 0 5px 0 0;
}

#profile_link {
	display: flex;
	align-items: center;
}

.header__nav-exp {}

.header__ul {
	display: flex;
	flex-direction: column;
}

.header__ul-item {
	margin-bottom: 7px;
}

.header__ul-item--mark {
	/* margin-right: 29px; */
}

.header__ul-item--mark::after {
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid var(--regular-text);
	top: 7px;
	right: -16px;
}

.header__ul-sub-menu {
	display: none;
}

.header__ul-sub-item {}

@media (max-width: 992px) {
	#profile_link {
		display: none;
	}

	.deposit__wallet-button-show {
		display: block;
	}
}

.transactions {
	border-radius: 10px;
	background: var(--element-bg);
	padding: 10px 0 10px 0;
	margin: 52px 0 0 0;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
}

.transactions__header {
	padding: 0 10px 10px 10px;
	border-bottom: 1px solid gray;
}

.transactions__body {
	padding: 10px;
}

.transactions__body table {
	width: 100%;
	display: block;
}

.transactions__table_head {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
	display: flex;
	width: 100%;
	margin: 0 0 10px 0;
}

.transactions__table_head tr {
	width: 100%;
	display: flex;
}

.transactions__table_head tr th {
	flex: 0 1 16.6666%;
	display: block;
}

.transactions__table_body {
	background: transparent;
	width: 100%;
	display: block;
}

.transactions__table_item {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
	display: flex;
	width: 100%;
	padding: 5px 0 5px 0;
}

.transactions__table_item td {
	flex: 0 1 16.6666%;
	text-align: center;
}

.invest {
	margin: 52px 0 0 0;
}

.window {
	background: var(--element-bg);
	border-radius: 5px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 5px;
	position: relative;
}

@media (max-width: 992px) {
	.window {
		margin-bottom: 20px;
	}
}

.window__loading {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	background: #00000054;
}

.window__loading-img {
	width: 48px;
	height: 40px;
}

.window__loading--show {
	display: flex;
	justify-content: center;
	align-items: center;
}


.window__header {
	padding: 15px;
	border-bottom: 1px solid gray;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 17px;
	color: var(--regular-text);
}

.window__body {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: var(--regular-text);
	padding: 10px;
	flex: 1 1 auto;
}

.window__controls {
	margin: 0 0 20px 0;
}

.window__controls_label {
	display: inline-block;
	margin: 0 0 10px 0;
	color: var(--disabled-text);
}

.tabs {
	min-height: 400px;
}

.tabs__buttons {}

.tabs__buttons_button {
	height: 32px;
	min-width: 120px;
	border: none;
	background: transparent;
	cursor: pointer;
	border-radius: 6px 6px 0 0;

	font-family: "Montserrat";
	color: var(--regular-text);
	font-weight: 600;
}

.tabs__buttons_button.selected {
	background: var(--control-bg);
}

.tabs__body {
	position: relative;
}

.transfer_button {
	border: none;
	height: 32px;
	min-width: 100px;
	color: white;
	border-radius: 5px;
	background: #0085FF;
	cursor: pointer;
}

.transfer_button:hover {
	background: #00c8ff;
}

.tabs__tab {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	visibility: visible;
	opacity: 1;
	transition: .5s ease-in-out;
}

.tabs__tab p {
	display: flex;
	justify-content: space-between;
}

.tabs_tab_transfer-body {
	padding: 0 100px;
	margin: 30px 0 0 0;
}

.tabs_tab_transfer-body .nice-select {
	width: 100%;
}

.tabs_tab_transfer-body-controls {
	display: flex;
	justify-content: space-between;
	margin: 0 0 30px 0;
	align-items: center;
}

.tabs_tab_transfer-body-control1 {
	flex: 0 1 40%;
}

.tabs_tab_transfer-body-control2 {
	flex: 0 1 60%;
}

.tabs_tab_transfer-body-control2 input {
	width: 100%;
	background: var(--control-bg-text);
	height: 38px;
	border: 1px solid var(--border);
	padding: 10px 30px;
	color: var(--regular-text);
	box-sizing: border-box;
}

@media (max-width: 992px) {
	.tabs_tab_transfer-body-controls {
		flex-direction: column;
	}

	.tabs_tab_transfer-body {
		padding: 0 10px;
	}

	.tabs_tab_transfer-body-control1 {
		flex: 0 1 auto;
		width: 100%;
		margin-bottom: 10px;
	}
	
	.tabs_tab_transfer-body-control2 {
		flex: 0 1 auto;
		width: 100%;
	}

	.tabs {
		min-height: 480px;
	}
}

.stake__head {
	/* height: 76px; */
	border-radius: 10px;
	padding: 4px;
	position: relative;
	left: 0;
	top: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.809);
	display: flex;
	justify-content: space-between;
}

.theme-light .stake__head {
	background: var(--element-bg);
}

.stake__head p {
	color: var(--disabled-text);
	margin: 8px 6px;
}

.stake__head_bg {
	position: relative;
	/* height: 84px; */
	padding: 1px;
	border-radius: 10px;
	margin: 0 0 20px 0;
}

.stake__head_bg.c1 {
	background: linear-gradient(267.38deg, #ADFF00 -4.27%, #0085FF 98.57%, rgba(255, 255, 255, 0) 104.22%);
}

.stake__head_bg.c2 {
	background: linear-gradient(267.38deg, #001eff -4.27%, #ff0000 98.57%, rgba(255, 255, 255, 0) 104.22%);
}

.stake__head_bg.c3 {
	background: linear-gradient(267.38deg, #ff0000 -4.27%, #00c8ff 98.57%, rgba(255, 255, 255, 0) 104.22%);
}

.stake__head_bg.c4 {
	background: linear-gradient(267.38deg, #ffb700 -4.27%, #f700ff 98.57%, rgba(255, 255, 255, 0) 104.22%);
}

.stake__head_col {}

.stake__head_col-p1 {
	font-weight: 600;
	color: var(--regular-text) !important;
}

.btc::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background-image: url("./images/stake/icon-btc.svg");
	background-size: cover;
}

.ltc::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background-image: url("./images/stake/icon-ltk.svg");
	background-size: cover;
}

.eth::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	background-image: url("./images/stake/icon-eth.svg");
	background-size: cover;
}

.select {
	height: 28px;
	padding: 12px 0 0 30px;
	background: var(--control-bg-text);
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	border: 1px solid var(--border);

	color: var(--regular-text);
}

.select__span {
	position: relative;
	padding: 0 0 0 30px;
}

.select.active {
	overflow: visible;
}

.select.active::before {
	transform: rotate(180deg);
}

.select::before {
	content: "";
	position: absolute;
	width: 9px;
	height: 6px;
	background: url("./images/select-array.svg") no-repeat;
	top: 15px;
	right: 15px;
	transform: translateY(50%);
	z-index: 1;
}

.theme-light .select::before {
	filter: invert(100%);
}

.select__list {
	background: var(--control-bg-text);
	border-radius: 5px;
	margin: 25px 0 0 -30px;
	padding: 10px 10px 10px 30px;
	display: block;
}

.select__item {
	position: relative;
	padding: 5px 0 5px 30px;
}

.stake__amount {
	display: flex;
	border: 1px solid var(--border);
	border-radius: 0 5px 5px 0;
}

.stake__amount_text {
	background: var(--control-bg-text);
	display: flex;
	align-items: center;
	padding: 0 30px 0 30px;
	flex: 1 1 auto;
}

.stake__amount_text input {
	background: transparent;
	border: none;
	width: 100%;
	color: var(--regular-text);
}

.stake__amount_button {
	width: 50px;
	height: 40px;
	border: none;
	background: var(--control-bg);
	border-radius: 0 5px 5px 0;
	cursor: pointer;

	color: var(--regular-text);
	font-weight: 600;
}

.text-green {
	color: var(--success-text);
}

.stake__button {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--regular-text);
	font-weight: 600;
	background: var(--control-bg);
	border: none;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
}

.stake__button:hover {
	background: var(--control-bg-hover);
}

.restake__button {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--regular-text);
	font-weight: 600;
	background: var(--sand-text);
	border: none;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
	margin-bottom: 5px;
}

.restake__button:hover {
	background: var(--sand-light);
}

.unstake__button {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--regular-text);
	font-weight: 600;
	background: var(--danger-text);
	border: none;
	border-radius: 5px;
	width: 100%;
	cursor: pointer;
}

.unstake__button:hover {
	background: var(--danger-light);
}

.window__buttons {
	margin: 0 0 15px 0;
	padding: 0 12px;
}

.stake__button-loading {
	
}

.stake__amount_crypto {
	text-transform: uppercase;
}

.affiliate {
	/*text props*/
	color: var(--regular-text);
}

.affiliate__margin-top {
	margin-top: 52px;
}

.block {
	background: var(--element-bg);
	border-radius: 5px;
}

.block__margin-top {
	margin-top: 22px;
}

.block__head {
	border-bottom: 1px solid var(--border);
	padding: 15px 20px 0 20px;
}

.block__title {
	font-size: 18px;
	margin-bottom: 10px;
}

.block-content {
	padding: 20px;
}

.affiliate__content {
	display: flex;
}

.affiliate__content-left {
	flex: 0 1 60%;
}

.affiliate__text {
	font-size: 14px;
	color: var(--disabled-text);
	max-width: 70%;
	line-height: 1.2;
}

.affiliate__content-right {
	flex: 0 1 40%;
}

.affiliate__link {
	display: flex;
}

.affiliate__input {
	display: block;
	background: var(--control-bg-text);
	border: 1px solid var(--border);
	border-radius: 5px 0 0 5px;
	height: 40px;
	width: 100%;
	padding: 0 20px;

	color: var(--regular-text);
}

.affiliate__button {
	display: block;
	background: var(--control-bg);
	border: none;
	border-radius: 0 5px 5px 0;
	height: 40px;
	min-width: 80px;
	cursor: pointer;

	color: var(--regular-text);
}

.affiliate__table {
	display: block;

	color: var(--regular-text);
}

.affiliate__table-head {
	display: block;
}

.affiliate__table-tr {
	display: flex;
	padding: 15px;
}

.affiliate__table-tr:nth-child(even) {
	background: var(--control-bg);
}

.affiliate__table-th {
	flex: 0 1 33.33%;
	text-align: start;
}

.affiliate__table-body {
	display: block;
}

.affiliate__table-td {
	flex: 0 1 33.33%;
	text-align: start;
	font-size: 14px;
}

.affiliate__table-foot {
	display: block;
	border-top: 2px solid rgb(102, 102, 102);
	margin-top: 15px;
}

.affiliate__table-foot-th {
	flex: 0 1 33.33%;
	text-align: start;
}

.affiliate__small-text {
	font-size: 14px;
	line-height: 1.5;
}

@media (max-width: 768px) {
	.affiliate__content {
		flex-direction: column;
	}

	.affiliate__content-right {
		margin-top: 20px;
	}
}

.api {
	color: var(--regular-text);
}

.api__margin-top {
	margin-top: 52px;
}

.api__content {
	width: 300px;
	display: flex;
	justify-content: space-between;
	margin: 0 0 20px 0;
}

.api__controls {}

.api__label {
	display: flex;
	align-items: center;
	font-size: 13px;
	margin: 0 0 10px 0;
	color: var(--disabled-text);
}

.api__checkbox {
	display: block;
	margin: 0 10px 0 0;
}

.api__button {
	height: 36px;
	min-width: 120px;
	font-weight: 600;
	background: var(--control-bg);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	color: var(--regular-text);
}

.api__button:hover {
	background: var(--control-bg-hover);
}

.api__table {
	display: block;
	color: var(--regular-text);
}

.api__table-head {
	display: block;
}

.api__table-tr {
	display: flex;
	padding: 10px;
}

.api__table-th {
	flex: 0 1 25%;
	text-align: start;
}

.api__table-body {
	display: block;
	font-size: 14px;
	background: transparent;
}

.api__table-td {}

.settings {
	color: var(--regular-text);
}

.settings__margin-top {
	margin-top: 52px;
}

.twofa {
	min-height: 95px;
	position: relative;
}

.twofa::before {
	display: block;
	width: 60px;
}

.twofa::before {
	content: "";
	background: url("./images/shield.svg");
	width: 120px;
	height: 140px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	transform: translate(0, -25%);
}

.twofa__body {
	background: linear-gradient(90.08deg, var(--element-bg) 6.67%, var(--background) 99.93%);
	border-radius: 15px;
	height: 100%;
	margin-left: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 25px 20px 100px;
}

@media (max-width: 515px) {
	.twofa::before {
		display: none;
	}

	.twofa__body {
		margin-left: 0;
		padding-left: 25px;
	}
}

@media (max-width: 462px) {
	.twofa__body {
		flex-direction: column;
	}
}

.twofa__text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.twofa__span {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}

.twofa__button {
	width: 142px;
	height: 48px;
	background: var(--control-bg);
	border-radius: 5px;
	border: none;
	cursor: pointer;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: var(--regular-text);
}

.settings__verif {
	height: 214px;
	background: var(--element-bg);
	border-radius: 5px;
	padding: 10px 20px 30px 20px;
}

.settings_verif-head {
	border-bottom: 2px solid var(--border);
}

.settings__verif-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}

.settings__verif-content {
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
	.settings__verif-content {
		margin-bottom: 10px;
	}
}

.settings__verif-text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	color: var(--sand-text);
}

.settings__verif-status {
	color: var(--sand-text);
}

.settings__verif-status--fail {
	color: var(--danger-text);
}

.settings__verif-status--success {
	color: var(--success-text);
}

.settings__verif-button {
	display: flex;
	width: 170px;
	height: 48px;
	cursor: pointer;
	border: none;
	align-items: center;
	justify-content: center;

	background: var(--control-bg);
	border-radius: 5px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;

	color: var(--regular-text);
}

.settings__verif-button--fail {
	background: transparent;
	border: 1px solid var(--danger-text);
}

.settings__verif-img {
	margin: 0 30px 0 30px
}

@media (max-width: 515px) {
	.settings__verif-img {
		display: none;
	}
}

.settings-block {
	padding: 10px 20px 30px 20px;

	background: var(--background);
	border-radius: 5px;
}

.settings-block__head {
	border-bottom: 2px solid var(--border);
}

.settings__block-title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 10px;
}

.settings-block__content {
	padding: 20px 0 0 0;
}

.settings__form {

}

.settings__form-controls {

}

.settings__form-control {
	margin-bottom: 10px;
}

.settings__form-label {
	display: block;
	margin-bottom: 20px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	color: var(--regular-text);
}

.settings__form-text {
	display: inline-block;
	height: 40px;
	border: 1px solid var(--border);
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	background: var(--control-bg-text);
	border-radius: 5px;
	color: var(--regular-text);
}

.settings__form-file {
	display: block;
}

.settings__form-button {
	width: 170px;
	height: 48px;
	cursor: pointer;
	border: none;
	display: block;
	margin-top: 20px;

	background: var(--control-bg);
	border-radius: 5px;

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;

	color: var(--regular-text);
}

.settings__container {
	display: flex;
}

.settings__container-col {
	flex: 0 1 50%;
	margin: 0 10px;
}

.trading {
	font-family: "Montserrat";
	color: var(--regular-text);
}

.trading__margin-top {
	margin-top: 20px;
}

.trading__orders {
	background: var(--element-bg);
	padding: 15px;
	font-size: 12px;
	border-right: 1px solid var(--border);
}

.trading__orders-head {
	padding: 0 0 15px 0;
}

.trading__orders-title {
	font-size: 14px;
}

.trading__orders-body {}

.trading__table {
	color: var(--regular-text);
	display: block;
}

.trading__table-head {
	padding: 0 0 10px 0;
	display: block;
}

.trading__table-tr {
	padding: 5px 0;
	display: flex;
	position: relative;
}

.trading__table-tr:hover {
	border: 1px dashed var(--border);
	padding: 4px 0;
}

.trading__table-tr-bar {
	position: absolute;
	display: block;
	top: 0;
	left: 95%;
	/* right: 100%; */
	width: 5%;
	bottom: 1;
}

.trading__table-tr-bar--red {
	background: #ff00001a;
}

.trading__table-tr-bar--green {
	background: #00ff001a;
}

.trading__table-th {
	display: block;
	flex: 0 1 33.33%;
	text-align: start;
}

.trading__table-th:last-child {
	text-align: end;
}

.trading__table-body {
	display: block;
}

.trading__table-td {
	display: block;
	flex: 0 1 33.33%;
}

.trading__table-td:last-child {
	text-align: end;
}

.trading__table-td--red {
	color: var(--danger-text);
	font-weight: 600;
}

.trading__table-td--green {
	font-weight: 600;
	color: var(--success-text);
}

.trading-container {
	max-width: 1720px;
	margin: 0 auto;
}

@media (max-width: 800px) {
	.trading-container {
		padding: 0;
	}
}

.trading-row {
	display: flex;
}

@media (max-width:1493px) {
	.trading-row {
		flex-direction: column;
	}
}

.trading-col-sm {
	flex: 25.00%;
}

.trading-col-xl {
	flex: 50%;
}

.trading-col-100 {
	width: 100%;
}

.trading__currents {
	background: rgba(0, 0, 0, 0.2);
	padding: 5px 2px;
	display: flex;
}

.trading__currents-price {
	flex: 1 1 auto;
}

.trading__currents-major-text {
	font-size: 18px;
	font-weight: 500;
	margin: 0 0 5px 0;
}

.trading__currents-major-text--red {
	color: var(--danger-text);
	position: relative;
}

.trading__currents-major-text--red::after {
	content: "";
	background: url("./images/up-arrow-red.svg") no-repeat;
	width: 18px;
	height: 17px;
	position: absolute;
	z-index: 1;
	top: 0;
	transform: rotate(180deg);
}

.trading__currents-major-text--green {
	color: var(--success-text);
	position: relative;
}

.trading__currents-major-text--green::after {
	content: "";
	background: url("./images/up-arrow-green.svg") no-repeat;
	width: 18px;
	height: 17px;
	position: absolute;
	z-index: 1;
	top: 0;
}

.trading__currents-garbage-text {
	color: var(--disabled-text);
}

.trading__currents-vol {
	text-align: end;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.trading__currents-minor-text {}

.trading__currents-minor-text--border-bottom {
	border-bottom: 1px solid gray;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}

.trading__chart {}

.trading__header {
	color: var(--regular-text);
	display: flex;
	background: var(--element-bg);
	padding: 15px;
	border-bottom: 1px solid var(--border);
	border-top: 1px solid var(--border);
}

@media (max-width: 962px) {
	.trading__header {
		flex-direction: column;
	}

	.trading__header>* {
		padding: 0 !important;
		border: none !important;
		margin-top: 20px;
	}
}

.trading__header-pair {
	font-size: 20px;
	font-weight: 700;
	padding-right: 60px;
	display: flex;
	align-items: center;
}

.trading__header-last-price {
	padding-right: 30px;
	border-right: 1px solid var(--border);
}

.trading__header-last-price-title {
	color: var(--ocean-text);
	font-size: 12px;
	margin: 0 0 5px 0;
}

.trading__header-last-price-data {
	font-size: 12px;
	display: flex;
	align-items: center;
}

.trading__header-last-price-data-avg {
	font-weight: 500;
	font-size: 14px;
	display: block;
	margin-right: 5px;
}

.trading__header-last-price-data-eq {
	font-size: 12px;
	color: var(--disabled-text);
}

.trading__header-last-price-data-avg--red {
	color: var(--danger-text);
}

.trading__header-last-price-data-avg--green {
	color: var(--success-text);
}

.trading__header-24h-change {
	padding-left: 30px;
	padding-right: 30px;
	border-right: 1px solid var(--border);
}

.trading__header-24h-change-title {
	color: var(--ocean-text);
	font-size: 12px;
	display: block;
	margin-bottom: 5px;
}

.trading__header-24h-change-percent {
	color: var(--success-text);
	font-size: 14px;
	font-weight: 500;
}

.trading__header-24h-change-percent--red {
	color: var(--danger-text);
}

.trading__header-24h-high {
	padding: 0 30px;
	border-right: 1px solid var(--border);
	;
}

.trading__header-24h-high-title {
	color: var(--ocean-text);
	font-size: 12px;
	display: block;
	margin-bottom: 5px;
}

.trading__header-24h-high-value {
	font-weight: 500;
	font-size: 14px;
}

.trading__header-24h-low {
	padding: 0 30px;
	border-right: 1px solid var(--border);
}

.trading__header-24h-low-title {
	color: var(--ocean-text);
	font-size: 12px;
	display: block;
	margin-bottom: 5px;
}

.trading__header-24h-low-value {
	font-weight: 500;
	font-size: 14px;
}

.trading__header-24h-volume {
	padding-left: 30px;
}

.trading__header-24h-volume-title {
	color: var(--ocean-text);
	font-size: 12px;
	display: block;
	margin-bottom: 5px;
}

.trading__header-24h-volume-value {
	font-weight: 500;
	font-size: 14px;
}

.trading__pairs {
	background: var(--element-bg);
	border-left: 1px solid var(--border);
	padding: 15px;
	height: 420px;
}

.trading__pairs-head {
	display: flex;
	align-items: center;
	position: relative;
}

.trading__pairs-head::before {
	content: "";
	background: transparent url("./images/overview.svg") no-repeat;
	background-size: cover;
	position: absolute;
	left: 16px;
	top: 9px;
	width: 12px;
	height: 12px;
	z-index: 1;
}

.theme-light .trading__pairs-head::before {
	filter: invert(100%);
}

.trading__pairs-input {
	border: 1px solid var(--border);
	background: var(--control-bg-text);
	outline: none;
	border: 1px solid var(--border);
	color: var(--regular-text);
	padding: 7px 5px 7px 45px;
	display: block;
	border-radius: 5px;
	width: 160px;
	flex: 1 1 auto;
	position: relative;
}

.trading__pairs-currency {
	display: block;
	font-size: 12px;
	flex: 1 0 auto;
	text-align: end;
	margin: 0 0 0 5px;
	color: var(--disabled-text);
}

.trading__pairs-total {
	color: var(--regular-text);
	margin: 0 0 0 5px;
}

.trading__pairs-table {
	color: var(--regular-text);
	display: block;
	margin: 10px 0 0 0;
}

.trading__pairs-thead {
	display: block;
	margin: 0 0 10px 0;
}

.trading__pairs-tr {
	display: flex;
	padding: 5px 0;
}

.trading__pairs-tr:hover {
	background: rgba(255, 255, 255, 0.11);
}

.trading__pairs-tr--hidden {
	display: none;
}

.trading__pairs-th {
	flex: 0 1 33.33%;
	text-align: start;
	color: var(--disabled-text);
	font-size: 14px;
}

.trading__pairs-th:last-child {
	text-align: end;
}

.trading__pairs-tbody {
	display: block;

	overflow: hidden;
	overflow-y: auto;
	height: 360px;
}

.trading__pairs-td {
	flex: 0 1 33.33%;
	font-size: 12px;
	font-weight: 500;
	display: flex;
	align-items: center;
}

.trading__pairs-td--green {
	color: var(--success-text);
}

.trading__pairs-td--red {
	color: var(--danger-text);
}

.trading__pairs-icon {
	width: 16px;
	display: block;
	margin-right: 5px;
}

.trading__pairs-td:last-child {
	justify-content: end;
}

.trading__pairs-link {
	display: flex;
	align-items: center;
	color: var(--regular-text);
}

.trading__pairs-link:hover {
	color: var(--sand-text);
}

.trading__pairs-inactive-text {
	color: var(--disabled-text);
}

.trading__chat {
	background: var(--element-bg);
	border-top: 1px solid var(--border);
	border-left: 1px solid var(--border);
}

.trading__chat-full-height {
	height: 565px;
}

.trading__chat-head {
	padding: 15px;
}

.trading__chat-title {
	font-size: 14px;
	font-family: "Montserrat";
}

.trading__chat-body {
	height: 420px;
	overflow: hidden;
	padding: 15px;
	overflow-y: auto;
}

.trading__chat-controls {
	padding: 15px;
	display: flex;
}

.chat__message {
	font-size: 14px;
	padding: 10px 0;
	border-bottom: 1px solid #4b6158;
}

.chat__message-text {
	display: inline-block;
	line-height: 1.3;
}

.chat__message-author {
	display: inline-block;
	color: var(--success-text);
}

.trading__chat-form {
	display: flex;
	width: 100%;
}

.trading__chat-input {
	background: var(--control-bg-text);
	color: var(--regular-text);
	width: 100%;
	height: 32px;
	border: none;
	border-radius: 5px;
	padding: 0 10px;
}

.trading__chat-container {
	flex: 1 1 auto;
	margin-right: 10px;
}

.trading__chat-button {
	background: var(--control-bg);
	color: var(--regular-text);
	height: 32px;
	cursor: pointer;
	padding: 0 30px;
	display: block;
	border: none;
	border-radius: 5px;
}

.orders {
	background: var(--element-bg);
	border-top: 1px solid var(--border);
}

.orders__full-height {
	height: 565px;
}

.orders__tabs {}

.orders__tabs-buttons {
	display: flex;
	border-bottom: 1px solid var(--border);
	padding: 10px;
}

.orders__tab-button {
	margin-right: 22px;
	cursor: pointer;

	font-size: 14px;
}

.orders__tab-button--active {
	color: var(--ocean-text);
	position: relative;
}

.orders__tab-button--active::after {
	content: '';
	left: 0;
	bottom: -10px;
	right: 1;
	height: 3px;
	background: #4881dc;
	position: absolute;
}

.orders__tab {
	padding: 10px 0;
	display: none;
}

.orders__tab--active {
	display: block;
}

.orders__buy-sell {
	display: flex;
}

.orders__buy {
	flex: 0 1 50%;

	padding: 0 10px;
}

@media (max-width: 567px) {
	.orders__buy-sell {
		flex-direction: column;
	}

	.orders__buy:last-child {
		margin-top: 10px;
	}
}

.orders__primary-text {
	font-weight: 600;
	margin-bottom: 15px;
	font-size: 15px;
}

.orders__balance {
	display: flex;
	margin-bottom: 15px;
}

.orders__wallet {
	background: transparent;
	background-image: url("./images/wallet.svg");
	width: 16px;
	margin-right: 5px;
	filter: grayscale(100%);
}

.orders__balance-value {
	color: var(--disabled-text);
	font-size: 15px;
}

.orders__controls {
	margin-bottom: 8px;
}

.orders__label {
	font-size: 12px;
	color: var(--disabled-text);
	margin-bottom: 2px;
	display: block;
}

.orders__label-lnk {
	color: var(--ocean-text);
}

.orders__percents {
	color: var(--regular-text);
	background: var(--control-bg);
	padding: 4px;
	border-radius: 3px;
	cursor: pointer;
	border: none;
	margin-right: 5px;
}

.orders__buy-btn {
	width: 100%;
	height: 33px;

	cursor: pointer;
	border-radius: 3px;
	border: none;

	color: white;
	font-size: 14px;

	background: #2d6f4b;
}

.orders__buy-btn:hover {
	background: #48b177;
}

.orders__sell-btn {
	width: 100%;
	height: 33px;

	cursor: pointer;
	border-radius: 3px;
	border: none;

	color: white;
	font-size: 14px;

	background: #6f2d2d;
}

.orders__sell-btn:hover {
	background: #aa4545;
}

.orders__tab-no-data {
	text-align: center;
	margin-top: 10px;
}

.orders__auth {
	width: 100%;
	height: 33px;
	border-radius: 3px;
	color: var(--regular-text);
	background: var(--control-bg);
	font-size: 14px;
	text-align: center;
	line-height: 2.1;
}

.orders__auth a {
	text-decoration: underline;
	color: var(--sand-text);
}

.numeric {
	display: flex;
	position: relative;
}

.numeric__prefix {
	margin-right: 5px;
	color: var(--disabled-text);
	position: absolute;
	left: 10px;
}

.numeric__hcontainer {
	display: flex;
	padding: 5px 10px 5px 22px;
	border: 1px solid var(--border);
	border-radius: 4px;
	flex: 1 1 auto;

	background: var(--control-bg-text);
}

.numeric__input {
	background: var(--control-bg-text);
	border: none;

	color: var(--regular-text);
	flex: 1 1 auto;
}

.numeric__tag {
	font-size: 13px;
	text-align: center;
	line-height: 1.27;
}

.numeric__vcontainer {
	display: flex;
	flex-direction: column;
	margin-left: 3px;
}

.numeric__up {
	width: 13px;
	height: 50%;
	background: var(--control-bg);
	cursor: pointer;
	border-radius: 3px 3px 0 0;

	background-image: url("./images/select-array-up.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.numeric__down {
	width: 13px;
	background: var(--control-bg);

	height: 50%;
	cursor: pointer;
	border-radius: 0 0 3px 3px;

	background-image: url("./images/select-array.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.errorlist {
	margin-bottom: 5px;
}

.errorlist li {
	color: var(--danger-text);
}

.errorlist.nonfield {
	list-style: none;
	display: block;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 5px;
	color: var(--danger-text);
}

.errorlist.nonfield li {
	margin-bottom: 5px;
}

.card-body {
	color: var(--regular-text);
	line-height: 1.2;
}

.theme-switcher {}

.theme-switcher__button {
	width: 22px;
	height: 22px;
	background-size: contain;
	margin-right: 20px;
	cursor: pointer;
}

.theme-switcher__button--sun {
	background-image: url("./images/sun.svg");
	filter: invert(100%);
}

.theme-switcher__button--moon {
	background-image: url("./images/moon.svg");
}

.alert-bg {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1000;
}

.alert-bg--hidden {
	display: none;
}

.alert {
	position: fixed;
	display: flex;
	align-items: center;
	z-index: 1001;
	min-width: 400px;
	min-height: 80px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: var(--success-bg);
	padding: 10px 30px 10px 40px;
	border-radius: 5px;
}

.alert--hidden {
	display: none;
}

.alert__image {
	width: 32;
	height: 32;
}

.alert__header {
	color: var(--success-text);
	font-family: 'Montserrat';
}

.alert__title {
	font-family: "Montserrat";
	color: var(--regular-text);
	margin-bottom: 4px;
}

.alert__body {
	padding: 0 0 0 30px;
	flex: 1 1 auto;
}

.alert__message {

}

.alert__text {
	font-family: "Montserrat";
	color: var(--regular-text);
	font-size: 13px;
    line-height: 1.2;
}

.alert__button {
	border: none;
	cursor: pointer;
	color: var(--regular-text);
	height: 32px;
	background: transparent;
}

.alert__button:hover {
	color: #131212!important;
}

.sign-wallets {
	
}

.sign-wallets__margin-top {
	margin-top: 50px;
}

.sign-wallets__margin-right {
	margin-right: 20px;
}

.sign-wallets__item {
	background: none;
	border: 1px solid var(--border);
	outline: none;
	cursor: pointer;
	padding: 10px 20px;
	/* width: 100%; */
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;

	color: var(--regular-text);
	font-weight: bold;
}

.sign-wallets__item:hover {
	border-color: var(--sand-text);
}

.sign-wallets__item:active {
	border-color: var(--sand-light);
}

.sign-wallets__icon {
	margin: 0 10px 0 0;
}

@media (max-width: 555px) {
	.sign-wallets__text {
		display: none;
	}

	.sign-wallets__icon {
		margin: 0;
	}
}

.sign__form-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: var(--element-bg);
}

.sign__form-loading-img {
	width: 42px;
}

.sign__form-loading--hidden {
	display: none;
}

.sign-sid {
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.sign-sid__body {
	padding: 40px 20px 20px 20px;
	background-color: var(--element-bg);
	border: 1px solid var(--border);
	border-top: none;
	margin-top: 60px;
	position: relative;
}

.sign-sid__controls {
	margin: 0 0 30px 0;
}

.sign-sid__label {
	display: block;
	margin: 0 0 10px 0;

	/* font */
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	color: var(--regular-text);
}

.sign-sid__input {
	width: 100%;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid var(--border);
	box-sizing: border-box;
	background: var(--control-bg-text);
	color: var(--regular-text);
	font-size: 14px;
}

.sign-sid__submit {
	display: block;
	width: 100%;
	border: 1px solid var(--border);
	background: var(--control-bg);
	color: var(--regular-text);
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

.sign-sid__submit:hover {
	border-color: var(--sand-light);
}

.sign-sid__submit:active {
	border-color: var(--sand-text);
}

.sign-sid__submit:disabled {
	border-color: var(--border);
	cursor: default;
	color: var(--disabled-text);
}

.sign-sid__back {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 1px solid var(--border);
	background: transparent;
	color: var(--regular-text);
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	margin: 90px 0 0 0;
}

.sign-sid__back:hover {
	border-color: var(--sand-light);
}

.sign-sid__back:active {
	border-color: var(--sand-text);
}

.sign-sid__back-arrow {
	color: var(--regular-text);
	display: block;
	margin: 0 4px 0 0;
}

.sign-sid__phrase {
	display: inline-block;
	padding: 4px 7px;
	background: var(--control-bg);
	margin: 5px;
	color: var(--regular-text);
	border-radius: 3px;
	border: 1px solid var(--border);
	font-size: 12px;
}

.sign-sid__phrase--invalid {
	border-color: var(--danger-light);
	color: var(--danger-text);
}

.sid-select {
	border: 1px solid var(--border);
	border-radius: 5px;
	position: relative;
	cursor: pointer;
}

.sid-select::after {
	content: '';
	background-image: url('./images/select-array.svg');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: 12px;
	height: 100%;
	right: 5px;
	top: 0;
}

.theme-light .sid-select::after {
	filter: invert(100%);
}

.sid-select--open {
	
}

.sid-select--open::after {
	background-image: url('./images/select-array-up.svg');
}

.sid-select__body {
	display: flex;
}

.sid-select__items {
	display: none;
	position: absolute;
	top: 58px;
	left: 0;
	width: 100%;
	min-height: 400px;
	overflow: hidden;
	overflow-y: auto;
	z-index: 1001;
	background-color: var(--element-bg);
	border-radius: 5px;
	border: 1px solid var(--border);
}

.sid-select__items--open {
	display: block;
}

.sid-select__item {
	display: flex;
	align-items: center;
	padding: 10px 20px 10px 10px;
	color: var(--regular-text);
}

.sid-select__item:hover {
	color: var(--sand-text);
}

.sid-select__icon {
	width: 32px;
	margin: 0 10px 0 0;
}