.swap {
    max-width: 680px;
    min-width: 236px;
}

.swap-margin-top {
    margin-top: 52px;
}

.swap__head {
    height: 88px;
    background: var(--control-bg);

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 25px 0 55px;
    border-radius: 10px 10px 0 0;
    position: relative;
    overflow: hidden;
}

.swap__head::before {
    content: "";
    display: block;
    width: 300px;
    height: 700px;
    transform: rotate(30deg);
    background: var(--control-bg-hover);
    position: absolute;
    z-index: 1;
    left: -110px;
}

.swap__title {
    z-index: 2;
}

.swap__title-p {
    font-family: "Montserrat";
    color: var(--regular-text);
    font-size: 22px;
    font-weight: 700;
}

.swap__info {
    display: flex;
    z-index: 2;
}

.swap_info-zero {
    font-family: "Montserrat";
    color: var(--regular-text);
    font-size: 14px;
}

.swap_info-price {
    font-family: "Montserrat";
    color: var(--regular-text);
    margin-left: 10px;
    font-size: 14px;
}

.swap_info-pairs {
    font-family: "Montserrat";
    color: var(--regular-text);
    margin-left: 10px;
    font-size: 14px;
}

.swap__body {
    background: var(--element-bg);
    padding: 70px 160px 20px 160px;
}

@media (max-width: 768px) {
    .swap__body {
        padding: 70px 20px 20px 20px;
    }
}

@media (max-width: 540px) {
    .swap__info {
        display: none;
    }
}

.swap__controls {
    margin-bottom: 40px;
}

.swap__label {
    font-family: "Montserrat";
    color: var(--regular-text);
    margin-bottom: 5px;
    display: block;
}

.swap__select {
    display: flex;
    background: var(--control-bg-text);
    height: 38px;
    padding: 0 0 0 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    position: relative;
    border: 1px solid var(--border);

    font-family: "Montserrat";
    font-size: 14px;
}

.swap__input-container {
    flex: 1 1 auto;
    margin: 5px 0;
}

.swap__input {
    height: 100%;
    width: 100%;
    background: var(--control-bg-text);
    border: none;

    font-family: "Montserrat";
    color: var(--regular-text);
}

.swap__select-btn {
    display: block;
    min-width: 50px;
    position: relative;
    background: var(--control-bg);
    border-radius: 0 10px 10px 0;
    padding: 0 40px 0 10px;
    cursor: pointer;
    border: none;

    font-family: "Montserrat";
    color: var(--regular-text);
}

.swap__select-btn::after {
    content: '';
    display: block;
    background-image: url("./images/select-array.svg");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 12px;
    height: 12px;
    right: 10px;
    top: 15px;
    /* transition: all ease-in-out .3s; */
}

.theme-light .swap__select-btn::after {
    filter: invert(100%);
}

.swap__select-btn--open::after {
    transform: rotate(180deg);
    top: 10px;
}

.swap__select-items {
    position: absolute;
    background: var(--control-bg);
    z-index: 1;
    left: 0;
    right: 1;
    top: 58px;
    height: 0;
    width: 100%;
    /* border-radius: 10px; */
    overflow: hidden;
    overflow-y: scroll;
    transition: all ease-in-out .1s;

    font-family: "Montserrat";
    color: var(--regular-text);
}

.swap__select-items--open {
    height: 220px;
}

.swap__select-list {

}

.swap__select-item {
    padding: 8px 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.swap__select-item:hover {
    background: var(--control-bg-hover);
}

.swap__select-item--hidden {
    display: none;
}

.swap__awailable {
    font-family: "Montserrat";
    color: var(--regular-text);
    font-size: 13px;
}

.swap__fullmoney {
    color: var(--ocean-text);
}

.swap__submit {
    display: block;
    width: 280px;
    margin: 0 auto 0 auto;
    height: 52px;
    background: var(--control-bg);
    border: none;
    border-radius: 10px;
    cursor: pointer;

    font-family: "Montserrat";
    color: var(--regular-text);
    font-size: 14px;
    font-weight: 600;
}

@media (max-width: 346px) {
    .swap__submit {
        width: 100%;
    }
}

.swap__submit:hover {
    background: var(--control-bg-hover);
}

.swap__course {
    color: var(--regular-text);
    text-align: center;
    margin: 20px 0 0 0;
}

.swap__foot {}

.swap__offer {
    display: none;
    visibility: hidden;
}

.swap__selcet-icon {
    width: 24px;
    display: inline-block;
    margin-right: 15px;
}

.swap__select-tag {
    color: var(--disabled-text);
    display: inline-block;
    margin-left: 15px;
}