.verif {
    background: var(--element-bg);
    padding: 15px;
    border-radius: 10px;
    max-width: 640px;
}

.verif__margin-top-auto {
    margin: 52px auto 0 auto;
}

.verif__header {
    border-bottom: 1px solid var(--border);
    padding: 0 0 12px 10px;
}

.verif__title {
    color: var(--regular-text);
    font-weight: 600;
}

.verif__body {
    padding: 10px 10px 10px 10px;
}

.verif__form {
    display: block;
}

.verif__controls {
    margin: 0 0 30px 0;
    width: 100%;
}

.verif__label {
    color: var(--regular-text);
    margin: 0 0 10px 0;
    display: block;

    font-weight: 600;
    font-size: 15px;
}

.verif__control {
    
}

.verif__input {
    width: 93%;
    height: 42px;
    background: var(--control-bg-text);
    border: none;
    border-radius: 5px;
    padding: 3px 20px;

    font-family: "Montserrat";
    color: var(--regular-text);
    font-weight: 600;
}

.verif__select {
    float: none;
    background: var(--control-bg-text);

    color: var(--regular-text);
}

.verif__file {
    font-family: "Montserrat";
    color: var(--regular-text);
    font-weight: 600;
}

.verif__date {
    width: 93%;
    height: 42px;
    border: none;
    border-radius: 5px;
    padding: 3px 20px;
    background: var(--control-bg-text);

    font-family: "Montserrat";
    color: var(--regular-text);
    font-weight: 600;
}

.verif__button {
    display: block;
    height: 42px;
    cursor: pointer;
    background: var(--control-bg);
    border-radius: 5px;
    border: none;
    min-width: 200px;

    font-family: "Montserrat";
    color: var(--regular-text);
    font-weight: 600;
}

.errorlist {
    color: var(--danger-text);
    margin: 0 0 10px 0;
    font-family: "Montserrat";
    font-weight: 600;
}