{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'monserrat.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'nice-select-black.css' %}">
    {% block css_top %}{% endblock %}
    <script src="{% static 'jquery-3.6.1.min.js' %}"></script>
    <script src="{% static 'jquery.nice-select.min.js' %}"></script>
    {% block js_top %}{% endblock %}
    <title>Tera | {{title}}</title>
</head>

<body class="{% block body_class %}{% endblock %}">
    <div class="wrapper">
        <div class="content">
            <header class="header {% block header_class %}{% endblock %}">
                <div class="container">
                    <div class="row">
                        <div class="header__container d-flex flex-row justify-content-between">
                            <div class="header__col d-flex flex-row align-items-center">
                                <div class="header__logo">
                                    <a href="/"><img src="{% static 'images/logo.svg' %}"></a>
                                </div>
                                <nav class="header__nav">
                                    <ul class="d-flex flex-row">
                                        {% url 'main:trading' 'btc' 'usdt' as url %}
                                        <li class="header__nav-item {% if request.path == url %}active-nav-item{% endif %}">
                                            <a href="{{url}}">Trading</a>
                                        </li>
                                        {% url 'main:market_tools' as url %}
                                        <li class="header__nav-item {% if url in request.path %}active-nav-item{% endif %} header__nav-item--mark">
                                            <a href="{{url}}">Market tools</a>
                                            <ul class="header__nav-sub-menu">
                                                {% url 'main:market_cap' as url %}
                                                <li class="header__nav-sub-item {% if request.path == url %}active-nav-item{% endif %}">
                                                    <a href="{{url}}">Crypto market cap</a>
                                                </li>
                                                {% url 'main:market_screener' as url %}
                                                <li class="header__nav-sub-item {% if request.path == url %}active-nav-item{% endif %}">
                                                    <a href="{{url}}">Market screener</a>
                                                </li>
                                                {% url 'main:market_tech' as url %}
                                                <li class="header__nav-sub-item {% if request.path == url %}active-nav-item{% endif %}">
                                                    <a href="{{url}}">Technical analysis</a>
                                                </li>
                                                {% url 'main:market_cross' as url %}
                                                <li class="header__nav-sub-item {% if request.path == url %}active-nav-item{% endif %}">
                                                    <a href="{{url}}">Cross rates</a>
                                                </li>
                                                {% url 'main:market_heat' as url %}
                                                <li class="header__nav-sub-item {% if request.path == url %}active-nav-item{% endif %}">
                                                    <a href="{{url}}">Currency heat map</a>
                                                </li>
                                            </ul>
                                        </li>
                                        {% url 'user_profile:invest' as url %}
                                        <li class="header__nav-item {% if request.path == url %}active-nav-item{% endif %}">
                                            <a href="{{ url }}">Invest</a>
                                        </li>
                                        {% url 'main:p2p' as url %}
                                        <li class="header__nav-item {% if request.path == url %}active-nav-item{% endif %}">
                                            <a href="{{ url }}">P2P</a>
                                        </li>
                                        {% url 'main:swap' as url %}
                                        <li class="header__nav-item {% if request.path == url %}active-nav-item{% endif %}">
                                            <a href="{{url}}">Swap</a>
                                        </li>
                                        {% url 'support:lobby' as url %}
                                        <li class="header__nav-item {% if request.path == url %}active-nav-item{% endif %}">
                                            <a href="{{url}}">Support</a>
                                        </li>
                                        {% url 'user_profile:wallet' as url %}
                                        <li class="header__nav-item text-yellow {% if request.path == url %}active-nav-item{% endif %}">
                                            <a class="d-flex align-items-center text-yellow" href="{{url}}">
                                                <img class="header__nav-item-wallet"
                                                    src="{% static 'images/wallet.svg' %}">{{amount}}&nbsp;USD
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header__col d-flex align-items-center">
                                <!--div class="header__locale">
                                    <a class="header__locale-active" href="#">EN</a>
                                    <span class="header__locale-backslash">/</span>
                                    <a href="#">RU</a>
                                </div-->
                                <div class="header__profile d-flex align-items-center">
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'user_profile:settings' %}" style="font-size:13px;display: block;margin-right: 10px;text-decoration: underline;">{{ user.email }}</a>
                                    <a id="profile_link" class="d-flex align-items-center" href="">
                                        <div
                                            class="header__profile-photo d-flex align-items-center justify-content-center">
                                            <img src="{{ user.photo.url }}">
                                        </div>
                                        <div class="header__profile-arrow">
                                            <img src="{% static 'images/arrow-down.svg' %}">
                                        </div>
                                    </a>
                                    <div class="header__profile-expanded hidden">
                                        <a class="d-flex align-items-center text-yellow"
                                            href="{% url 'user_profile:wallet' %}">wallet&nbsp;
                                            <img class="header__nav-item-wallet"
                                                src="{% static 'images/wallet.svg' %}">{{amount}} USD
                                        </a>
                                        <a class="d-block" href="{% url 'panel:index' %}">Panel</a>
                                        <a class="d-block" href="{% url 'user_profile:logout' %}">Log out</a>
                                    </div>
                                    {% else %}
                                    <a class="header__profile-login" href="{% url 'user_profile:login' %}">Login</a>
                                    <a class="header__profile-register"
                                        href="{% url 'user_profile:register' %}">Register</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            {% block content %}{% endblock %}
        </div>
        <footer class="footer">
            <div class="footer__top d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col col-4">
                            <div class="footer__top-logo">
                                <img src="{% static 'images/logo-white.svg' %}">
                            </div>
                            <p class="footer__top-offer-text">Tera trade is a simple, elegant, and secure
                                platform to build your crypto portfolio.</p>
                        </div>
                        <div class="col col-8">
                            <div class="d-flex justify-content-end">
                                <div class="footer__top-col">
                                    <p class="footer__top-col-title">Features</p>
                                    <p class="footer__tp-col-link"><a href="/">Home</a></p>
                                    <p class="footer__tp-col-link"><a href="#">Trading</a></p>
                                    <p class="footer__tp-col-link"><a href="{% url 'user_profile:wallet' %}">Wallet</a>
                                    </p>
                                    <p class="footer__tp-col-link"><a href="{% url 'user_profile:invest' %}">Invest</a>
                                    </p>
                                    <p class="footer__tp-col-link"><a href="#">Support</a></p>
                                </div>
                                <div class="footer__top-col">
                                    <p class="footer__top-col-title">Market tools</p>
                                    <p class="footer__tp-col-link"><a href="#">Crypto market cap</a></p>
                                    <p class="footer__tp-col-link"><a href="#">Market screener</a></p>
                                    <p class="footer__tp-col-link"><a href="#">Technical analysis</a></p>
                                    <p class="footer__tp-col-link"><a href="#">Cross rates</a></p>
                                    <p class="footer__tp-col-link"><a href="#">Currency heat map</a></p>
                                </div>
                                <div class="footer__top-col">
                                    <p class="footer__top-col-title">Legal</p>
                                    <p class="footer__tp-col-link"><a href="#">Terms of service</a></p>
                                    <p class="footer__tp-col-link"><a href="#">Privacy notice</a></p>
                                    <p class="footer__tp-col-link"><a href="#">Cookies policy</a></p>
                                    <p class="footer__tp-col-link"><a href="#">AML & KYC policy</a></p>
                                    <p class="footer__tp-col-link"><a href="#">Fees</a></p>
                                </div>
                                <div class="footer__top-col">
                                    <p class="footer__top-col-title">Exchange pair</p>
                                    <p class="footer__tp-col-link"><a href="#">BTC to USDT</a></p>
                                    <p class="footer__tp-col-link"><a href="#">ETH to USDT</a></p>
                                    <p class="footer__tp-col-link"><a href="#">LTC to USDT</a></p>
                                    <p class="footer__tp-col-link"><a href="#">ADA to USDT</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__bottom d-flex align-items-center">
                <div class="container text-center">
                    <p>Tera © Copyright {% now "Y" %} | Worldwide Distributed Digital Asset Exchange | Trading digitals
                        assets such as Bitcoin involves significant risks.</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="{% static 'script.js' %}"></script>
    {% block js_bottom %}{% endblock %}
</body>

</html>